<template>
  <div class="header-section">
    <v-app-bar
      color="yellow darken-2"
      dark
      flat
      fixed
      v-scroll="onScroll"
      :style="transparentOnScroll ? styleAppBar : ''"
    >
      <v-app-bar-nav-icon
        class="d-md-none d-block"
        @click="drawer = true"
      ></v-app-bar-nav-icon>

      <v-toolbar-title
        @click="$router.push('/')"
        class="d-none d-md-block"
        style="cursor: pointer"
      >
        <img src="/logo-kampus.png" width="50" class="mt-2" />
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-title
        @click="$router.push('/')"
        class="d-md-none d-block"
        style="cursor: pointer"
      >
        <img src="/logo-kampus.png" width="50" class="mt-2" />
      </v-toolbar-title>

      <v-toolbar-items
        class="d-none d-md-block"
        v-for="item in menuItems"
        :key="item.icon"
      >
        <v-btn
          class="text-capitalize"
          :to="item.path"
          text
          v-if="item.nuxt == true"
          >{{ item.title }}</v-btn
        >
        <v-btn
          class="text-capitalize"
          :href="item.path"
          target="_blank"
          text
          v-else
          >{{ item.title }}</v-btn
        >
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn x-small dark text to="/search">
          <v-icon> mdi-magnify </v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items class="d-none d-md-block">
        <v-menu offset-y v-if="$auth && $auth.loggedIn">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" class="mx-2">
              <v-avatar>
                <v-icon dark> mdi-account-circle </v-icon>
              </v-avatar>
            </v-btn>
          </template>
          <v-card class="mx-auto" width="200" tile>
            <v-list class="pa-0">
              <v-list-item-group color="yellow darken-2">
                <v-list-item :to="{ name: 'dashboard-home' }">
                  <v-list-item-title>Dashboard</v-list-item-title>
                </v-list-item>
                <v-list-item :to="{ name: 'dashboard-user-profile' }">
                  <v-list-item-title>Profile</v-list-item-title>
                </v-list-item>
                <v-list-item :to="{ name: 'dashboard-user-change-password' }">
                  <v-list-item-title>Ubah Password</v-list-item-title>
                </v-list-item>
                <v-list-item @click="logout">
                  <v-list-item-title>Logout</v-list-item-title>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-menu>
      </v-toolbar-items>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="yellow--text text--darken-2"
        >
          <v-menu
            offset-y
            bottom
            origin="center center"
            transition="scale-transition"
            :close-on-content-click="true"
            v-if="$auth && $auth.loggedIn"
            max-width="150"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-list-item v-bind="attrs" v-on="on">
                <v-list-item-avatar size="35">
                  <v-avatar color="yellow darken-2">
                    <span class="white--text headline">{{
                      $auth.user.nama_lengkap.charAt(0)
                    }}</span>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{
                    $auth.user.nama_lengkap
                  }}</v-list-item-title>
                  <v-list-item-subtitle>User</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-list nav dense max-width="150">
              <v-list-item :to="{ name: 'dashboard-home' }">
                <v-list-item-title>Dashboard</v-list-item-title>
              </v-list-item>
              <v-list-item :to="{ name: 'dashboard-user-profile' }">
                <v-list-item-title>Profile</v-list-item-title>
              </v-list-item>
              <v-list-item :to="{ name: 'dashboard-user-change-password' }">
                <v-list-item-title>Ubah Password</v-list-item-title>
              </v-list-item>
              <v-list-item @click="logout">
                <v-list-item-title>Logout</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-list-item v-else disabled>
            <v-list-item-title> Menu </v-list-item-title>
          </v-list-item>
          <v-divider></v-divider>
        </v-list-item-group>
        <v-list-item-group v-for="item in menuItems" :key="item.icon">
          <v-list-item
            class="mt-1"
            v-if="item.nuxt == true"
            :to="item.path"
            color="yellow darken-2"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
          <v-list-item
            class="mt-1"
            v-else
            :href="item.path"
            target="_blank"
            color="yellow darken-2"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  props: {
    transparentOnScroll: { type: Boolean },
  },
  data() {
    let urlVokasi = 'http://127.0.0.1:3001'

    return {
      styleAppBar: 'background-color: transparent!important;',
      drawer: false,
      group: null,
      dialog: false,
      menuItems: [
        { title: 'Home', path: '/', nuxt: true },
        { title: 'Profil Kampus', path: '/about-us', nuxt: true },
        { title: 'Acara', path: '/event', nuxt: true },
        { title: 'Article', path: '/article', nuxt: true },
        { title: 'Vokasi', path: urlVokasi, nuxt: false },
        { title: 'Galeri', path: '/gallery', nuxt: true },
        { title: 'Kontak', path: '#', nuxt: true },
        { title: 'SMB', path: '/smb/register', nuxt: true },
      ],
      items: [
        {
          action: 'mdi-ticket',
          items: [{ title: 'List Item' }],
          title: 'Attractions',
        },
      ],
    }
  },
  created() {},
  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      if (top > 100) {
        this.styleAppBar = ''
      } else {
        this.styleAppBar = 'background-color: transparent!important;'
      }
    },
    async logout() {
      try {
        this.$nuxt.$loading.start()
        var logout = await this.$auth.logout('local')
        this.dialog = true
      } catch (error) {
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>