<template>
  <div>
    <Head name="Reset Password" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <PageHeader
            title="Reset Password"
            :sub-title="formSubtitle"
            align="center"
          />
          <v-card-text v-if="!formExpired">
            <v-alert
              class="mb-5"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-5" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="submit"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                label="Password Baru"
                v-model="form.password"
                :rules="[rules.required]"
                small
                rounded
                outlined
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show1 ? 'text' : 'password'"
                @click:append="show1 = !show1"
              >
              </v-text-field>
              <v-text-field
                v-model="form.password_confirmation"
                label="Ulangi Password Baru"
                small
                rounded
                outlined
                :rules="confirmPasswordRules"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show2 ? 'text' : 'password'"
                @click:append="show2 = !show2"
              />

              <v-btn
                dark
                color="green"
                block
                rounded
                x-large
                class="my-2"
                type="submit"
                >Send</v-btn
              >
            </v-form>
          </v-card-text>
          <v-card-text v-else>
            <v-btn
              dark
              color="yellow darken-2"
              block
              rounded
              x-large
              class="my-2"
              :to="{ name: 'smb-forgot-password' }"
              >Kirim Ulang Password Reset
            </v-btn>
          </v-card-text>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show1: false,
      show2: false,
      passwordRules: [
        (value) => !!value || 'Please type password.',
        (value) => (value && value.length >= 6) || 'minimum 6 characters',
      ],
      confirmPasswordRules: [
        (value) => !!value || 'type confirm password',
        (value) =>
          value === this.form.password ||
          'The password confirmation does not match.',
      ],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      formSubtitle: 'Masukkan kata sandi baru untuk keamanan akun Anda',
      formExpired: false,
      formError: null,
      formSuccess: null,
      form: {
        token: '',
        email: '',
        password: '',
        password_confirmation: '',
        scope: 'mahasiswa-baru',
      },
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          nuxt: true,
        },
        {
          text: 'SMB',
          disabled: false,
          to: '/smb/register',
          nuxt: true,
        },

        {
          text: 'Reset Password',
          disabled: false,
        },
      ],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      var params = this.$route.params

      await this.$store.dispatch('reset-password/find', {
        token: params.token,
      })
      var response = this.$store.getters['reset-password/getData']

      // console.log(response)

      if (response.success === true && params.token === response.data.token) {
        this.form.scope = response.data.scope
        this.form.email = response.data.email
        this.form.token = response.data.token
      } else {
        this.formExpired = true
        this.formSubtitle = response.message
      }
    },

    async submit() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.form)

          await this.$store.dispatch('reset-password/reset', {
            data: this.form,
          })

          const data = this.$store.getters['reset-password/getResetPassword']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            setTimeout(
              () =>
                this.$router.push({
                  name: 'smb-login',
                }),
              3000
            )
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>