<template>
  <div>
    <v-btn
      @click="downloadPdf()"
      color="primary"
      dark
      style="z-index: 999999; margin: 20px"
    >
      Download
    </v-btn>

    <client-only>
      <vue-html2pdf
        :show-layout="true"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="false"
        :paginate-elements-by-height="1400"
        :filename="filename"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @progress="onProgress($event)"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
      >
        <pdf-content slot="pdf-content" :data-user="dataUser">
          <!-- PDF Content Here -->
        </pdf-content>
      </vue-html2pdf>
    </client-only>
  </div>
</template>
<script>
import '@/mixins/general'
import {
  JENIS_KELAMIN_BY_ID,
  AGAMA_BY_ID,
  ASAL_LULUS_BY_ID,
  UKURAN_JAKET_BY_ID,
  PENANGGUNG_BIAYA_BY_ID,
  KAMPUS_STUDI_BY_ID,
} from '@/utils/constants'
export default {
  middleware: ['auth'],
  layout: 'blank',
  data() {
    return {
      contentRendered: false,
      progress: 0,
      generatingPdf: false,
      pdfDownloaded: false,
      dataUser: null,
      filename: '',
    }
  },
  mounted() {
    this.user()
  },
  methods: {
    async user() {
      let auth = this.$auth.user

      this.filename = 'form-pedaftaran-' + '-' + auth.username

      let tanggal_lahir = this.dateFull(auth.tanggal_lahir, 'LL')

      let telepon = ''

      if (auth.no_telp) {
        telepon = auth.no_telp + ' / ' + auth.phone
      } else {
        telepon = auth.phone
      }

      let telepon_orangtua = ''

      if (auth.no_telp_orang_tua) {
        telepon_orangtua = auth.no_telp_orang_tua + ' / ' + auth.phone_orang_tua
      } else {
        telepon_orangtua = auth.phone_orang_tua
      }

      let user = {}

      //Data Mahasiswa
      user.nama_lengkap = auth.nama_lengkap
      user.tempat_tgl_lahir = auth.tempat_lahir + ' / ' + tanggal_lahir
      user.gender = JENIS_KELAMIN_BY_ID[auth.gender]
      user.agama = AGAMA_BY_ID[auth.agama]
      user.nik = auth.nik
      user.alamat = auth.alamat
      user.region = 'JAKARTA TIMUR / DKI-JAKARTA'
      user.kode_pos = auth.kode_pos
      user.pendidikan_terakhir = ASAL_LULUS_BY_ID[auth.pendidikan_terakhir]
      user.telepon = telepon
      user.no_ijazah = auth.no_ijazah
      user.nama_sekolah = auth.nama_sekolah
      user.region_sekolah = 'JAKARTA TIMUR / DKI-JAKARTA'
      user.pekerjaan = auth.pekerjaan
      user.alamat_kantor = auth.alamat_kantor
      user.no_telp_kantor = auth.no_telp_kantor
      user.ukuran_jaket = UKURAN_JAKET_BY_ID[auth.ukuran_jaket]

      //data orang tua/wali
      user.nama_ayah = auth.nama_ayah + ' / ' + auth.nik_ayah
      user.nama_ibu = auth.nama_ibu + ' / ' + auth.nik_ibu
      user.alamat_orangtua = auth.alamat_orangtua
      user.region_orangtua = 'JAKARTA TIMUR / DKI-JAKARTA'
      user.kode_pos_orangtua = auth.kode_pos_orangtua
      user.telepon_orangtua = telepon_orangtua
      user.alamat_orangtua = auth.alamat_orangtua
      user.pekerjaan_ayah = auth.pekerjaan_ayah
      user.pekerjaan_ibu = auth.pekerjaan_ibu
      user.penanggung_biaya = PENANGGUNG_BIAYA_BY_ID[auth.penanggung_biaya]

      let html = ''
      html += '<p>' + KAMPUS_STUDI_BY_ID[auth.program_studi] + '</p>'
      html += '<p>' + 'Teknik Mesin' + '</p>'
      html +=
        '<p>' + this.getWaktuKuliah(auth.waktu_kuliah).description + '</p>'

      user.program_studi = html

      // console.log(html)

      this.dataUser = user
    },
    async downloadPdf() {
      this.$refs.html2Pdf.generatePdf()
    },

    onProgress(progress) {
      this.progress = progress
      console.log(`PDF generation progress: ${progress}%`)
    },

    startPagination() {
      console.log(`PDF has started pagination`)
    },

    hasPaginated() {
      console.log(`PDF has been paginated`)
    },

    async beforeDownload({ html2pdf, options, pdfContent }) {
      console.log(`On Before PDF Generation`)
    },

    hasDownloaded(blobPdf) {
      console.log(`PDF has downloaded yehey`)
      this.pdfDownloaded = true
      console.log(blobPdf)
    },

    domRendered() {
      console.log('Dom Has Rendered')
      this.contentRendered = true
    },

    onBlobGenerate(blob) {
      console.log(blob)
    },
  },
}
</script>