<template>
  <div>
    <Head :title="`Kategori Artikel - ${tag.name}`" />
    <Breadcrumbs :items="crumbs" />
    <v-container class="py-5">
      <div class="text-center my-5" v-if="this.$route.query.search">
        <v-btn
          rounded
          color="green darken-2"
          dark
          :to="{ name: 'article' }"
          :input-value="false"
        >
          <v-icon left> mdi-reload </v-icon>
          Reset
        </v-btn>
        <v-btn
          class="ml-2"
          rounded
          color="orange darken-2"
          dark
          :to="{ name: 'search', query: { q: this.$route.query.search } }"
        >
          Cari Lagi
          <v-icon right> mdi-arrow-right </v-icon>
        </v-btn>
        <p class="text-h6 mt-5">
          Hasil Pencarian "{{ this.$route.query.search }}"
        </p>
      </div>
      <v-row no-gutters v-if="article.length > 0">
        <v-col
          class="mt-5"
          cols="12"
          xs="8"
          sm="6"
          md="4"
          v-for="item in article"
          :key="item.id"
        >
          <Post class="px-4 py-2" small-icon view-icon :data="item" />
        </v-col>
      </v-row>

      <div v-else class="py-5">
        <div class="text-center">Data tidak ditemukan</div>
      </div>
      <div class="text-center mt-10">
        <v-pagination
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          @input="nextPage"
          color="yellow darken-2"
        ></v-pagination>
      </div>
    </v-container>
  </div>
</template>

<script>
import '@/mixins/general'
import post from '~/components/post/Post'

export default {
  components: { post },
  data() {
    return {
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Artikel',
          disabled: false,
          to: { name: 'article' },
          nuxt: true,
        },
        {
          text: 'Tag',
          disabled: false,
        },
      ],
      article: [],
      tag: {},
      page: 1,
      pageCount: 0,
      data: [],
    }
  },
  watch: {
    $route(to, from) {
      this.retrieveData()
    },
  },
  created() {
    this.retrieveData()
  },
  methods: {
    async nextPage(page) {
      var query = {}

      query.page = page

      if (this.$route.query.search) {
        query.search = this.$route.query.search
      }

      this.$router.push({ name: 'article', query: query })
    },
    async retrieveData() {
      const _page = this.$route.query.page || this.page
      const _search = this.$route.query.search || ''

      this.page = parseInt(_page)

      await this.$store.dispatch('article/list', {
        params: {
          page: _page,
          search: _search,
          slug_tag: this.$route.params.slug,
        },
      })
      const response = this.$store.getters['article/getArticle']

      // console.log(response)

      this.tag = response.tag

      this.crumbs.push({
        text: response.tag.name,
        disabled: false,
      })

      this.getData(response.article)
    },
    async getData(data) {
      this.data = data

      this.pageCount = this.data.last_page

      const article = this.data.data.map(this.getDisplayArticle)

      this.article = article
    },
    getDisplayArticle(data) {
      let content = data.content

      if (content.length > 160) {
        content = content.substr(0, 160) + '...'
      }

      return {
        id: data.id,
        title: data.title,
        slug: data.slug,
        content: content,
        image: data.image,
        created_at: data.created_at,
        category_slug: data.category_slug,
        category_name: data.category_name,
        viewer: data.viewer,
      }
    },
  },
}
</script>