<template>
  <div>
    <client-only>
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="false"
        :paginate-elements-by-height="1400"
        filename="form-pedaftaran"
        :pdf-quality="2"
        :manual-pagination="true"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @progress="onProgress($event)"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
      >
        <pdf-content slot="pdf-content" :data-user="dataUser">
          <!-- PDF Content Here -->
        </pdf-content>
      </vue-html2pdf>
    </client-only>
    <v-alert prominent :type="type">
      <v-row align="center">
        <v-col class="grow">
          {{ message }}
        </v-col>
        <v-col class="shrink">
          <v-btn @click="downloadPdf()"> Download PDF </v-btn>
        </v-col>
      </v-row>
    </v-alert>
  </div>
</template>
<script>
export default {
  middleware: ['auth'],
  data() {
    let image = this.$axios.defaults.baseURL + '/images/logo/logo-kampus.png'

    return {
      dataUser: {
        image: image,
      },
      type: 'success',
      message:
        'Data Anda belum lengkap, harap lengkapi data dibawah untuk mendownload form pendaftaran.',
    }
  },

  methods: {
    async downloadPdf() {
      this.$refs.html2Pdf.generatePdf()
    },

    onProgress(progress) {
      this.progress = progress
      console.log(`PDF generation progress: ${progress}%`)
    },

    startPagination() {
      console.log(`PDF has started pagination`)
    },

    hasPaginated() {
      console.log(`PDF has been paginated`)
    },

    async beforeDownload({ html2pdf, options, pdfContent }) {
      console.log(`On Before PDF Generation`)
    },

    hasDownloaded(blobPdf) {
      console.log(`PDF has downloaded yehey`)
      this.pdfDownloaded = true
      console.log(blobPdf)
    },

    domRendered() {
      console.log('Dom Has Rendered')
      this.contentRendered = true
    },

    onBlobGenerate(blob) {
      console.log(blob)
    },
  },
}
</script>