<template>
  <div>
    <Head name="Ubah Password" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <PageHeader
            title="Ubah Password"
            sub-title="Password harus kombinasi huruf besar dan angka."
            align="center"
          />
          <v-alert
            class="mb-10"
            color="green"
            type="success"
            v-if="formSuccess"
            >{{ formSuccess }}</v-alert
          >
          <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
            formError
          }}</v-alert>
          <v-form
            method="post"
            @submit.prevent="updateUser"
            v-model="valid"
            ref="form"
          >
            <v-text-field
              label="Password Lama"
              v-model="form.password"
              :rules="[rules.required]"
              small
              rounded
              outlined
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              @click:append="show1 = !show1"
            >
            </v-text-field>
            <v-text-field
              v-model="form.new_password"
              label="Password Baru"
              name="password"
              small
              rounded
              outlined
              :rules="passwordRules"
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2 ? 'text' : 'password'"
              @click:append="show2 = !show2"
            />

            <v-text-field
              v-model="confirmPassword"
              label="Ulangi Password Baru"
              name="confirmPassword"
              small
              rounded
              outlined
              :rules="confirmPasswordRules"
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3 ? 'text' : 'password'"
              @click:append="show3 = !show3"
            />

            <v-btn
              dark
              color="yellow darken-2"
              rounded
              block
              x-large
              class="my-5"
              type="submit"
              >Update</v-btn
            >
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  middleware: ['auth'],
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      confirmPassword: '',
      passwordRules: [
        (value) => !!value || 'Please type password.',
        (value) => (value && value.length >= 6) || 'minimum 6 characters',
      ],
      confirmPasswordRules: [
        (value) => !!value || 'type confirm password',
        (value) =>
          value === this.form.new_password ||
          'The password confirmation does not match.',
      ],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      form: {
        id: this.$auth.user.id,
        password: '',
        new_password: '',
      },
      foto: null,
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          href: '/',
        },
        {
          text: 'User',
          disabled: false,
        },
        {
          text: 'Ubah Password',
          disabled: false,
        },
      ],
    }
  },

  methods: {
    async updateUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.form)

          await this.$store.dispatch('user/changePassword', {
            data: this.form,
          })

          const data = this.$store.getters['user/getChangePassword']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.form.password = ''
            this.form.new_password = ''
            this.confirmPassword = ''
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>