<template>
  <div>
    <Head title="Profile" />
    <Breadcrumbs :items="crumbs" />
    <client-only>
      <vue-html2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="false"
        :paginate-elements-by-height="1400"
        filename="form-pedaftaran"
        :pdf-quality="2"
        :manual-pagination="true"
        pdf-format="a4"
        pdf-orientation="portrait"
        pdf-content-width="800px"
        @progress="onProgress($event)"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
      >
        <pdf-content slot="pdf-content" :data-user="dataUser">
          <!-- PDF Content Here -->
        </pdf-content>
      </vue-html2pdf>
    </client-only>
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2"
          ><v-alert prominent :type="type">
            <v-row align="center">
              <v-col class="grow">
                {{ message }}
              </v-col>
              <v-col class="shrink" v-if="type !== 'error'">
                <v-btn @click="downloadPdf()"> Download PDF </v-btn>
              </v-col>
            </v-row>
          </v-alert>
          <v-alert color="green" type="success" v-if="formSuccess">{{
            formSuccess
          }}</v-alert>
          <v-alert color="red" type="error" v-if="formError">{{
            formError
          }}</v-alert>

          <v-form
            method="post"
            @submit.prevent="update"
            v-model="valid"
            ref="form"
          >
            <v-row no-gutters>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Data Mahasiswa</div>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nama_lengkap"
                  label="Nama Lengkap*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.tempat_lahir"
                  label="Tempat Lahir*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-menu
                  v-model="fromDateMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      rounded
                      outlined
                      label="Tanggal Lahir*"
                      :rules="[rules.required]"
                      readonly
                      :value="fromDateDisp"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    locale="en-in"
                    v-model="fromDateVal"
                    no-title
                    @input="fromDateMenu = false"
                    :min="minDate"
                  ></v-date-picker>
                </v-menu>
                <v-select
                  :items="item_jenis_kelamin"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.gender"
                  :rules="[rules.required]"
                  label="Jenis Kelamin*"
                ></v-select>
                <v-select
                  :items="item_agama"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.agama"
                  :rules="[rules.required]"
                  label="Agama*"
                ></v-select>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nik"
                  label="No Indetitas ( NIK )*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="mahasiswa.alamat"
                  label="Alamat*"
                  :rules="[rules.required]"
                ></v-textarea>
                <v-autocomplete
                  auto-select-first
                  clearable
                  deletable-chips
                  rounded
                  outlined
                  v-model="mahasiswa.kota_id"
                  label="Kota/Kabupaten*"
                  :items="item_regencies"
                  item-text="name"
                  item-value="id"
                  v-on:change="getProvinceChange('', $event)"
                  :rules="[rules.required]"
                ></v-autocomplete>
                <v-text-field
                  rounded
                  outlined
                  v-model="provinsi"
                  label="Provinsi*"
                  readonly
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.kode_pos"
                  label="Kode Pos*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.phone"
                  label="No HP / Whatsapp*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.no_telp"
                  label="No Telepon"
                ></v-text-field>
                <v-select
                  :items="item_asal_lulusan"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.pendidikan_terakhir"
                  :rules="[rules.required]"
                  label="Pendidikan Terakhir*"
                ></v-select>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.no_ijazah"
                  label="No. Ijazah/Lulus Tahun*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="mahasiswa.nama_sekolah"
                  label="Nama Sekolah/PTN/PTS*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-autocomplete
                  auto-select-first
                  clearable
                  deletable-chips
                  rounded
                  outlined
                  v-model="mahasiswa.kota_id_sekolah"
                  label="Kota/Kabupaten*"
                  :items="item_regencies"
                  item-text="name"
                  item-value="id"
                  v-on:change="getProvinceChange('sekolah', $event)"
                  :rules="[rules.required]"
                ></v-autocomplete>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="provinsi_sekolah"
                  label="Provinsi"
                  readonly
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="mahasiswa.alamat_sekolah"
                  label="Alamat Sekolah/PTN/PTS*"
                  :rules="[rules.required]"
                ></v-textarea>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="mahasiswa.pekerjaan"
                  label="Nama Pekerjaan"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="mahasiswa.no_telp_kantor"
                  label="No Telepon Kantor"
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="mahasiswa.alamat_kantor"
                  label="Alamat Kantor"
                ></v-textarea>
                <v-select
                  :items="item_ukuran_jaket"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.ukuran_jaket"
                  :rules="[rules.required]"
                  label="Ukuran Jaket*"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Data Orang Tua/wali</div>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nama_ayah"
                  label="Nama Ayah*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nik_ayah"
                  label="No Indetitas ( NIK ) Ayah*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nama_ibu"
                  label="Nama Ibu*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.nik_ibu"
                  label="No Indetitas ( NIK ) Ibu*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="mahasiswa.alamat_orangtua"
                  label="Alamat Orang Tua*"
                  :rules="[rules.required]"
                ></v-textarea>
                <v-autocomplete
                  auto-select-first
                  clearable
                  deletable-chips
                  rounded
                  outlined
                  v-model="mahasiswa.kota_id_orangtua"
                  label="Kota/Kabupaten Orang Tua*"
                  :items="item_regencies"
                  item-text="name"
                  item-value="id"
                  v-on:change="getProvinceChange('orangtua', $event)"
                  :rules="[rules.required]"
                ></v-autocomplete>
                <v-text-field
                  rounded
                  outlined
                  v-model="provinsi_orangtua"
                  label="Provinsi Orang Tua*"
                  readonly
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.kode_pos_orangtua"
                  label="Kode Pos Orang Tua*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.phone_orang_tua"
                  label="No HP / Whatsapp Orang Tua*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  rounded
                  outlined
                  v-model="mahasiswa.no_telp_orang_tua"
                  label="No Telepon Orang Tua"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="mahasiswa.pekerjaan_ayah"
                  label="Nama Pekerjaan Ayah*"
                  :rules="[rules.required]"
                ></v-text-field
                ><v-text-field
                  small
                  rounded
                  outlined
                  v-model="mahasiswa.pekerjaan_ibu"
                  label="Nama Pekerjaan Ibu*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-select
                  :items="item_penanggung_biaya"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.penanggung_biaya"
                  label="Biaya Studi Dari"
                  :rules="[rules.required]"
                ></v-select>
                <p class="caption mb-2">a) Sumbangan Pengembangan (SPB)</p>
                <v-select
                  :items="item_tenor"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.spb"
                  label="Berapa Kali"
                  :rules="[rules.required]"
                ></v-select>
                <p class="caption mb-2">b) Sumbangan Pendidikan (SPP)</p>
                <v-select
                  :items="item_tenor"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.spp"
                  label="Berapa Kali"
                  :rules="[rules.required]"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Program Pendidikan</div>
                <v-select
                  :items="item_kampus_studi"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.kampus_studi"
                  label="Kampus Studi"
                  :rules="[rules.required]"
                ></v-select>
                <v-select
                  :items="item_program_studi"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.program_studi"
                  label="Program Studi"
                  :rules="[rules.required]"
                ></v-select>

                <v-select
                  :items="item_waktu_kuliah"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="mahasiswa.waktu_kuliah"
                  :rules="[rules.required]"
                  label="Waktu Kuliah*"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Sumber Informasi</div>
                <v-select
                  :items="item_sumber_info"
                  item-text="name"
                  item-value="id"
                  label="Pilih Sumber Informasi"
                  rounded
                  outlined
                  v-model="mahasiswa.sumber_info"
                ></v-select>
              </v-col>
            </v-row>

            <v-btn
              dark
              rounded
              color="yellow darken-2"
              block
              x-large
              class="mb-5"
              type="submit"
              >Update</v-btn
            >
          </v-form></v-col
        ></v-row
      >
    </v-container>
  </div>
</template>
<script>
import '@/mixins/general'
import {
  UKURAN_JAKET,
  AGAMA,
  SUMBER_INFO,
  TENOR,
  JENIS_KELAMIN,
  ASAL_LULUS,
  PENANGGUNG_BIAYA,
  KAMPUS_STUDI,
  WAKTU_KULIAH,
  JENIS_KELAMIN_BY_ID,
  AGAMA_BY_ID,
  ASAL_LULUS_BY_ID,
  UKURAN_JAKET_BY_ID,
  PENANGGUNG_BIAYA_BY_ID,
  KAMPUS_STUDI_BY_ID,
} from '@/utils/constants'

export default {
  middleware: ['auth'],
  data() {
    return {
      provinsi: '',
      provinsi_sekolah: '',
      provinsi_orangtua: '',
      mahasiswa: {
        nama_lengkap: null,
        email: null,
        tanggal_lahir: null,
        tempat_lahir: null,
        alamat: null,
        gender: null,
        agama: null,
        nik: null,
        no_ijazah: null,
        kota_id: null,
        provinsi_id: null,
        kode_pos: null,
        phone: null,
        no_telp: null,
        pendidikan_terakhir: null,
        nama_sekolah: null,
        alamat_sekolah: null,
        kota_id_sekolah: null,
        provinsi_id_sekolah: null,
        ukuran_jaket: null,
        pekerjaan: null,
        alamat_kantor: null,
        no_telp_kantor: null,
        penanggung_biaya: null,
        spb: null,
        spp: null,
        kampus_studi: null,
        program_studi: null,
        sumber_info: null,
        nama_ayah: null,
        nik_ayah: null,
        nama_ibu: null,
        nik_ibu: null,
        alamat_orangtua: null,
        provinsi_id_orangtua: null,
        kota_id_orangtua: null,
        kode_pos_orangtua: null,
        phone_orang_tua: null,
        no_telp_orang_tua: null,
        pekerjaan_ayah: null,
        pekerjaan_ibu: null,
        waktu_kuliah: null,
        complete: 1,
      },
      item_jenis_kelamin: [],
      item_agama: [],
      item_asal_lulusan: [],
      item_ukuran_jaket: [],
      item_penanggung_biaya: [],
      item_kampus_studi: [],
      item_program_studi: [],
      item_tenor: [],
      item_sumber_info: [],
      item_regencies: [],
      item_waktu_kuliah: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      fromDateMenu: false,
      fromDateVal: null,
      minDate: '1980-01-01',
      maxDate: '2018-12-31',
      formSuccess: null,
      formError: null,
      dialog: false,
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'User',
          disabled: false,
        },
        {
          text: 'Profile',
          disabled: false,
        },
      ],
      contentRendered: false,
      progress: 0,
      generatingPdf: false,
      pdfDownloaded: false,
      dataUser: null,
      type: 'error',
      message:
        'Data Anda belum lengkap, harap lengkapi data dibawah untuk mendownload form pendaftaran.',
    }
  },
  mounted() {
    let auth = this.$auth.user

    // console.log(this.$auth.user)
    this.item_agama = AGAMA
    this.item_jenis_kelamin = JENIS_KELAMIN
    this.item_penanggung_biaya = PENANGGUNG_BIAYA
    this.item_asal_lulusan = ASAL_LULUS
    this.item_ukuran_jaket = UKURAN_JAKET
    this.item_tenor = TENOR
    this.item_sumber_info = SUMBER_INFO
    this.item_kampus_studi = KAMPUS_STUDI
    this.item_waktu_kuliah = WAKTU_KULIAH

    this.getMahasiswa(auth)
    this.setDataPdf(auth)

    this.getStudy()
    this.getRegency()
  },
  computed: {
    fromDateDisp() {
      return this.mahasiswa.tanggal_lahir
    },
  },
  methods: {
    async getStudy() {
      await this.$store.dispatch('study/list')
      let response = this.$store.getters['study/getStudy'].study

      this.item_program_studi = response
    },
    async getRegency() {
      await this.$store.dispatch('region')

      let regencies = this.$store.getters['getRegion']

      this.item_regencies = regencies

      let kota_id = this.mahasiswa.kota_id

      let getProvince = this.getProvince(regencies, kota_id)

      this.provinsi = getProvince.name
      this.provinsi_sekolah = getProvince.name
      this.provinsi_orangtua = getProvince.name
    },

    getProvinceChange: function (params, e) {
      let regencies = this.item_regencies

      let getProvince = this.getProvince(regencies, e)

      if (params === 'sekolah') {
        this.provinsi_sekolah = getProvince.name
        this.mahasiswa.provinsi_id_sekolah = getProvince.id
        this.mahasiswa.kota_id_sekolah = e
      } else if (params === 'orangtua') {
        this.provinsi_orangtua = getProvince.name
        this.mahasiswa.provinsi_id_orangtua = getProvince.id
        this.mahasiswa.kota_id_orangtua = e
      } else {
        this.provinsi = getProvince.name
        this.mahasiswa.provinsi_id = getProvince.id
        this.mahasiswa.kota_id = e
      }
    },

    async getMahasiswa(auth) {
      this.mahasiswa.nama_lengkap = auth.nama_lengkap
      this.mahasiswa.program_studi = auth.program_studi
      this.mahasiswa.kampus_studi = auth.kampus_studi
      this.mahasiswa.email = auth.email
      this.mahasiswa.gender = auth.gender
      this.mahasiswa.agama = auth.agama
      this.mahasiswa.nik = auth.nik
      this.mahasiswa.tempat_lahir = auth.tempat_lahir
      this.mahasiswa.tanggal_lahir = auth.tanggal_lahir
      this.mahasiswa.alamat = auth.alamat
      this.mahasiswa.kota_id = auth.kota_id
      this.mahasiswa.provinsi_id = auth.provinsi_id
      this.mahasiswa.kode_pos = auth.kode_pos
      this.mahasiswa.phone = auth.phone
      this.mahasiswa.no_telp = auth.no_telp
      this.mahasiswa.pendidikan_terakhir = auth.pendidikan_terakhir
      this.mahasiswa.nama_sekolah = auth.nama_sekolah
      this.mahasiswa.alamat_sekolah = auth.alamat_sekolah
      this.mahasiswa.kota_id_sekolah = auth.kota_id
      this.mahasiswa.provinsi_id_sekolah = auth.provinsi_id_sekolah
      this.mahasiswa.no_ijazah = auth.no_ijazah
      this.mahasiswa.pekerjaan = auth.pekerjaan
      this.mahasiswa.alamat_kantor = auth.alamat_sekolah
      this.mahasiswa.no_telp_kantor = auth.no_telp_kantor
      this.mahasiswa.spb = auth.spb
      this.mahasiswa.spp = auth.spp
      this.mahasiswa.ukuran_jaket = auth.ukuran_jaket
      this.mahasiswa.kampus_studi = auth.kampus_studi
      this.mahasiswa.sumber_info = auth.sumber_info
      this.mahasiswa.nama_ayah = auth.nama_ayah
      this.mahasiswa.nik_ayah = auth.nik_ayah
      this.mahasiswa.nama_ibu = auth.nama_ibu
      this.mahasiswa.nik_ibu = auth.nik_ibu
      this.mahasiswa.alamat_orangtua = auth.alamat_orangtua
      this.mahasiswa.provinsi_id_orangtua = auth.provinsi_id_orangtua
      this.mahasiswa.kota_id_orangtua = auth.kota_id_orangtua
      this.mahasiswa.kode_pos_orangtua = auth.kode_pos_orangtua
      this.mahasiswa.phone_orang_tua = auth.phone_orang_tua
      this.mahasiswa.no_telp_orang_tua = auth.no_telp_orang_tua
      this.mahasiswa.penanggung_biaya = auth.penanggung_biaya
      this.mahasiswa.pekerjaan_ayah = auth.pekerjaan_ayah
      this.mahasiswa.pekerjaan_ibu = auth.pekerjaan_ibu
      this.mahasiswa.waktu_kuliah = auth.waktu_kuliah

      this.mahasiswa.status = auth.status
    },
    async setDataPdf(auth) {
      await this.$store.dispatch('region')

      let regencies = this.$store.getters['getRegion']

      let getRegion = this.getDataRegion(regencies, auth.kota_id)
      let getRegionSekolah = this.getDataRegion(regencies, auth.kota_id_sekolah)
      let getRegionOrangtua = this.getDataRegion(
        regencies,
        auth.kota_id_orangtua
      )

      if (auth.complete === 1) {
        this.type = 'success'
        this.message =
          'Data Anda sudah lengkap. Anda sudah bisa untuk mendownload form pendaftaran.'
      }

      let tanggal_lahir = this.dateFull(auth.tanggal_lahir, 'LL')

      let telepon = ''

      if (auth.no_telp) {
        telepon = auth.no_telp + ' / ' + auth.phone
      } else {
        telepon = auth.phone
      }

      let telepon_orangtua = ''

      if (auth.no_telp_orang_tua) {
        telepon_orangtua = auth.no_telp_orang_tua + ' / ' + auth.phone_orang_tua
      } else {
        telepon_orangtua = auth.phone_orang_tua
      }

      let user = {}

      //Data Mahasiswa
      user.nama_lengkap = auth.nama_lengkap
      user.tempat_tgl_lahir = auth.tempat_lahir + ' / ' + tanggal_lahir
      user.gender = JENIS_KELAMIN_BY_ID[auth.gender]
      user.agama = AGAMA_BY_ID[auth.agama]
      user.nik = auth.nik
      user.alamat = auth.alamat
      user.region = getRegion.province.name + ' / ' + getRegion.name
      user.kode_pos = auth.kode_pos
      user.pendidikan_terakhir = ASAL_LULUS_BY_ID[auth.pendidikan_terakhir]
      user.telepon = telepon
      user.no_ijazah = auth.no_ijazah
      user.nama_sekolah = auth.nama_sekolah
      user.region_sekolah =
        getRegionSekolah.province.name + ' / ' + getRegionSekolah.name
      user.pekerjaan = auth.pekerjaan
      user.alamat_kantor = auth.alamat_kantor
      user.no_telp_kantor = auth.no_telp_kantor
      user.ukuran_jaket = UKURAN_JAKET_BY_ID[auth.ukuran_jaket]

      //data orang tua/wali
      user.nama_ayah = auth.nama_ayah + ' / ' + auth.nik_ayah
      user.nama_ibu = auth.nama_ibu + ' / ' + auth.nik_ibu
      user.alamat_orangtua = auth.alamat_orangtua
      user.region_orangtua =
        getRegionOrangtua.province.name + ' / ' + getRegionOrangtua.name
      user.kode_pos_orangtua = auth.kode_pos_orangtua
      user.telepon_orangtua = telepon_orangtua
      user.alamat_orangtua = auth.alamat_orangtua
      user.pekerjaan_ayah = auth.pekerjaan_ayah
      user.pekerjaan_ibu = auth.pekerjaan_ibu
      user.penanggung_biaya = PENANGGUNG_BIAYA_BY_ID[auth.penanggung_biaya]

      let html = ''
      html += '<p>' + KAMPUS_STUDI_BY_ID[auth.program_studi] + '</p>'
      html += '<p>' + 'Teknik Mesin' + '</p>'
      html +=
        '<p>' + this.getWaktuKuliah(auth.waktu_kuliah).description + '</p>'

      user.program_studi = html

      // console.log(html)

      this.dataUser = user
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.mahasiswa)
          // this.$nuxt.$loading.finish()
          // return

          await this.$store.dispatch('user/updateProfile', {
            data: this.mahasiswa,
          })

          const data = this.$store.getters['user/getUpdateProfile']

          if (data.success === true) {
            if (data.data.complete === 1) {
              this.type = 'success'
              this.message =
                'Data Anda sudah lengkap. Anda sudah bisa untuk mendownload form pendaftaran.'
            }

            this.formError = ''
            this.setDataPdf(data.data)
            this.$auth.setUser(data.data)
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
    async downloadPdf() {
      this.$refs.html2Pdf.generatePdf()
    },

    onProgress(progress) {
      this.progress = progress
      console.log(`PDF generation progress: ${progress}%`)
    },

    startPagination() {
      console.log(`PDF has started pagination`)
    },

    hasPaginated() {
      console.log(`PDF has been paginated`)
    },

    async beforeDownload({ html2pdf, options, pdfContent }) {
      console.log(`On Before PDF Generation`)
    },

    hasDownloaded(blobPdf) {
      console.log(`PDF has downloaded yehey`)
      this.pdfDownloaded = true
      console.log(blobPdf)
    },

    domRendered() {
      console.log('Dom Has Rendered')
      this.contentRendered = true
    },

    onBlobGenerate(blob) {
      console.log(blob)
    },
  },
}
</script>