.index-section .carousel-wrapper-top .carousel-container {
  padding: 30px;
  display: flex;
  align-items: center;
  height: auto;
  background-size: cover;
  background-position: center center;
}

.index-section .carousel-wrapper-top .carousel-container .padding-text {
  padding: 160px 0px !important;
}

.index-section .carousel-wrapper-top .VueCarousel-dot-container[data-v-438fd353] {
  margin-top: 0 !important;
  position: absolute !important;
  bottom: 70px !important;
  left: 0 !important;
  right: 0 !important;
}

.index-section .theme--light.v-chip--active:hover::before,
.index-section .theme--light.v-chip--active::before {
  opacity: 0 !important;
}

.index-section .text-block-info {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.index-section .our-service-icon .title {
  min-height: 60px;
  height: 60px;
}

.index-section .price-box {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.625rem;
  overflow: hidden;
  font-weight: 600;
}

.index-section .price-box .price-box-media {
  position: relative;
}

.index-section .price-box .price-box-media img {
  width: 100%;
  object-fit: cover;
}

.index-section .price-box .price-box-media .price-box-tag {
  padding: 0rem 0.4375rem;
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  line-height: 1.45;
  color: #fff;
  background-color: #ffa000;
  border-radius: 0.3125rem;
}

.image-statistik {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  background-position: center center;
  background-size: cover;
}

.VueCarousel-pagination .VueCarousel-dot {
  background-color: #999 !important;
}


.VueCarousel-pagination .VueCarousel-dot--active {
  background-color: #fbc02d !important;
}



/* .VueCarousel-dot--active {
  background-color: #FFF !important;
}

.VueCarousel-dot{
  background-color: #333 !important;
} */
