<template>
  <div>
    <Head :title="detail.title" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row justify="center" class="pt-5" no-gutters>
        <v-col cols="12" md="8">
          <EventDetail class="px-2 py-1" :data="detail" />
        </v-col>
        <v-col cols="12" md="4" class="mt-3 mt-md-0">
          <div
            class="text-h5 yellow--text text--darken-2 px-lg-3 px-2 font-weight-bold"
          >
            Popular Artikel
          </div>
          <Post
            small-content
            small-icon
            no-image
            font-size-title="text-subtitle-1 font-weight-bold"
            v-for="item in articlePopular"
            :key="item.id"
            :data="item"
            class="px-lg-3 px-2"
          />
          <div
            class="text-h5 yellow--text text--darken-2 px-lg-3 px-2 mt-5 font-weight-bold"
          >
            Kategori Artikel
          </div>
          <ListCategory :items="category" class="px-lg-3 px-2 my-5" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { TYPE_CATEGORY_ARTICLE } from '@/utils/constants'
import EventDetail from '~/components/post/EventDetail'

export default {
  components: { EventDetail },
  async asyncData({ $axios, store, params, error }) {
    await store.dispatch('event/detail', {
      slug: params.slug,
    })

    let responseDetail = store.getters['event/getDetail']

    let detail = responseDetail.event

    await store.dispatch('article/list', {
      params: {
        pagination: 'false',
        limit: 4,
        type: 'popular',
      },
    })

    let responsePopular = store.getters['article/getArticle']

    let articlePopular = responsePopular.article.map((data) => {
      let content = data.content

      if (content.length > 160) {
        content = content.substr(0, 160) + '...'
      }

      return {
        id: data.id,
        title: data.title,
        slug: data.slug,
        content: content,
        image: data.image,
        created_at: data.created_at,
        category_slug: data.category_slug,
        category_name: data.category_name,
        viewer: data.viewer,
      }
    })

    await store.dispatch('category/list', {
      type: TYPE_CATEGORY_ARTICLE,
    })

    let responseCategory = store.getters['category/getCategory']

    let category = responseCategory.category

    return {
      category: category,
      articlePopular: articlePopular,
      detail: detail,
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Acara Kampus',
          disabled: false,
          to: { name: 'event' },
          nuxt: true,
        },
        {
          text: detail.title,
          disabled: false,
        },
      ],
    }
  },
}
</script>