<template>
  <div>
    <Head title="Acara" />
    <Breadcrumbs :items="crumbs" />
    <v-container class="py-5">
      <v-row no-gutters>
        <v-col
          class="mt-5"
          cols="12"
          xs="8"
          sm="6"
          md="4"
          v-for="item in event"
          :key="item.id"
        >
          <Event class="px-4 py-2" :data="item" flex-column-icon />
        </v-col>
      </v-row>
      <div class="text-center mt-10">
        <v-pagination
          v-model="page"
          :length="pageCount"
          :total-visible="7"
          @input="nextPage"
          color="yellow darken-2"
        ></v-pagination>
      </div>
    </v-container>
  </div>
</template>

<script>
import '@/mixins/general'
import Event from '~/components/post/Event'

export default {
  components: { Event },
  data() {
    return {
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          nuxt: true,
        },
        {
          text: 'Acara Kampus',
          disabled: false,
        },
      ],
      event: [],
      page: 1,
      pageCount: 0,
      data: [],
    }
  },
  watch: {
    $route(to, from) {
      this.retrieveData()
    },
  },
  mounted() {
    this.retrieveData()
  },
  methods: {
    async nextPage(page) {
      this.$router.push({ name: 'event', query: { page: page } })
    },
    async retrieveData() {
      const _page = this.$route.query.page || this.page

      this.page = parseInt(_page)

      await this.$store.dispatch('event/list', {
        params: {
          page: _page,
        },
      })
      const response = this.$store.getters['event/getEvent']

      this.getData(response.event)
    },
    async getData(data) {
      this.data = data

      this.pageCount = this.data.last_page

      const event = this.data.data.map(this.getDisplayEvent)

      this.event = event
    },
    getDisplayEvent(data) {
      return {
        id: data.id,
        slug: data.slug,
        title: data.title,
        image: data.image,
        date_start: this.dateFull(data.date_start, 'yyyy-MM-DD hh:mm'),
        date_end: this.dateFull(data.date_end, 'yyyy-MM-DD hh:mm'),
        location: data.location,
      }
    },
  },
}
</script>