
<template>
  <div class="register-page">
    <Breadcrumbs :items="crumbs" />
    <Head title="Daftar Mahasiswa Baru" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <PageHeader
            title="Daftar Mahasiswa Baru"
            sub-title="Isi data diri dengan benar"
            align="center"
          />
          <div class="text-center my-5"><PetunjukSmb /></div>

          <v-alert color="red" type="error" v-if="formError">{{
            formError
          }}</v-alert>
          <v-form
            method="post"
            @submit.prevent="registerUser"
            ref="form"
            v-model="valid"
          >
            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Data Pribadi</div>
                <v-select
                  :items="item_kampus_studi"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.kampus_studi"
                  label="Kampus Studi"
                ></v-select>
                <v-select
                  :items="item_program_studi"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.program_studi"
                  label="Program Studi"
                ></v-select>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.nama_lengkap"
                  label="Nama Lengkap*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  label="Email*"
                  v-model="register.email"
                  :rules="[rules.required, rules.email]"
                ></v-text-field>
                <v-select
                  :items="item_jenis_kelamin"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.gender"
                  :rules="[rules.required]"
                  label="Jenis Kelamin*"
                ></v-select>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.tempat_lahir"
                  label="Tempat Lahir*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-menu
                  v-model="fromDateMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      small
                      rounded
                      outlined
                      label="Tanggal Lahir*"
                      :rules="[rules.required]"
                      readonly
                      :value="fromDateDisp"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    locale="en-in"
                    v-model="fromDateVal"
                    no-title
                    @input="fromDateMenu = false"
                    :min="minDate"
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.phone"
                  label="No HP / Whatsapp*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.no_telp"
                  label="No Telepon"
                ></v-text-field>
                <v-autocomplete
                  auto-select-first
                  clearable
                  deletable-chips
                  rounded
                  outlined
                  v-model="register.kota_id"
                  label="Kota/Kabupaten*"
                  :items="item_regencies"
                  item-text="name"
                  item-value="id"
                  v-on:change="getProvice('', $event)"
                  :rules="[rules.required]"
                ></v-autocomplete>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="provinsi"
                  label="Provinsi"
                  readonly
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.kode_pos"
                  label="Kode Pos*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="register.alamat"
                  label="Alamat*"
                  :rules="[rules.required]"
                ></v-textarea>
                <span class="text-title">
                  <p class="text-left">Keterangan :</p>
                  <p class="text-left">
                    * Untuk memudahkan konfirmasi, bila tidak memiliki telepon,
                    maka anda dapat mencantumkan nomor telepon kantor/famili.
                  </p>
                  <p class="text-left">
                    * Bila memiliki beberapa Telepon/HP, silakan mengisinya
                    lebih dari satu, misalkan 021-8762002, 70704824, dst.
                  </p>
                </span>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Data Pendidikan</div>
                <v-select
                  :items="item_asal_lulusan"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.pendidikan_terakhir"
                  :rules="[rules.required]"
                  label="Pendidikan Terakhir*"
                ></v-select>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.nama_sekolah"
                  label="Nama Sekolah/PTN/PTS*"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-autocomplete
                  auto-select-first
                  clearable
                  deletable-chips
                  rounded
                  outlined
                  v-model="register.kota_id_sekolah"
                  label="Kota/Kabupaten*"
                  :items="item_regencies"
                  item-text="name"
                  item-value="id"
                  v-on:change="getProvice('sekolah', $event)"
                  :rules="[rules.required]"
                ></v-autocomplete>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="provinsi_sekolah"
                  label="Provinsi"
                  readonly
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="register.alamat_sekolah"
                  label="Alamat Sekolah/PTN/PTS*"
                  :rules="[rules.required]"
                ></v-textarea>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Data Pekerjaan</div>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.pekerjaan"
                  label="Nama Pekerjaan"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  v-model="register.no_telp_kantor"
                  label="No Telepon Kantor"
                ></v-text-field>
                <v-textarea
                  rounded
                  outlined
                  v-model="register.alamat_kantor"
                  label="Alamat Kantor"
                ></v-textarea>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">
                  Rencana Pembiayaan Studi
                </div>
                <v-select
                  :items="item_penanggung_biaya"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.penanggung_biaya"
                  label="Biaya Studi Dari"
                ></v-select>
                <p class="caption mb-2">a) Sumbangan Pengembangan (SPB)</p>
                <v-select
                  :items="item_tenor"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.spb"
                  label="Berapa Kali"
                ></v-select>
                <p class="caption mb-2">b) Sumbangan Pendidikan (SPP)</p>
                <v-select
                  :items="item_tenor"
                  item-text="name"
                  item-value="id"
                  rounded
                  outlined
                  v-model="register.spp"
                  label="Berapa Kali"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-center text-h5 mb-3">Sumber Informasi</div>
                <v-select
                  :items="item_sumber_info"
                  item-text="name"
                  item-value="id"
                  label="Pilih Sumber Informasi"
                  rounded
                  outlined
                  v-model="register.sumber_info"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-btn
                  dark
                  rounded
                  color="yellow darken-2"
                  block
                  x-large
                  class="mb-5 mt-10"
                  type="submit"
                  >Daftar</v-btn
                >
              </v-col>
            </v-row>
          </v-form>
        </v-col></v-row
      >
    </v-container>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-subtitle-1">
          Anda berhasil melakukan pendaftaran.
        </v-card-title>
        <v-card-text>
          Harap periksa email yang Anda sudah daftarkan.
        </v-card-text>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" small text @click="$router.push('/smb/login')">
            Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialog: true,
      provinsi: '',
      provinsi_sekolah: '',
      register: {
        nama_lengkap: null,
        email: null,
        tanggal_lahir: null,
        tempat_lahir: null,
        alamat: null,
        gender:null,
        kota_id:null,
        provinsi_id: null,
        kode_pos: null,
        phone: null,
        no_telp: null,
        pendidikan_terakhir: null,
        nama_sekolah: null,
        alamat_sekolah: null,
        kota_id_sekolah: null,
        provinsi_id_sekolah: null,
        pekerjaan: null,
        alamat_kantor: null,
        no_telp_kantor: null,
        penanggung_biaya: null,
        spb: null,
        spp: null,
        kampus_studi: null,
        program_studi: null,
        sumber_info: null,
      },
      item_jenis_kelamin: [
        { id: 1, name: 'Laki-laki' },
        { id: 2, name: 'Perempuan' },
      ],
      item_asal_lulusan: [
        { id: 1, name: 'D3/sejenis' },
        { id: 2, name: 'SMA/SMK/sejenis' },
        { id: 3, name: 'S1/sejenis' },
        { id: 4, name: 'D1/D2/Lainnya' },
      ],
      item_penanggung_biaya: [
        { id: 1, name: 'Orang Tua/Wali ' },
        { id: 2, name: 'Beasiswa/Perusahaan' },
        { id: 3, name: 'Biaya Sendiri' },
        { id: 4, name: 'Kombinasi' },
      ],
      item_kampus_studi: [
        { id: 1, name: 'Sekolah Tinggi Teknologi Indonesia(STTI)' },
        {
          id: 2,
          name: 'Sekolah Tinggi Ilmu Ekonomi Nasional Indonesia(STIENI)',
        },
      ],
      item_program_studi: [
        { id: 1, name: 'Manajemen (S-1)' },
        { id: 2, name: 'Akuntansi (S-1)' },
        { id: 3, name: 'Teknik Mesin (S-1)' },
        { id: 4, name: 'Teknik Elektro (S-1)' },
        { id: 5, name: 'Teknik Informatika (S-1)' },
      ],
      item_tenor: [
        { id: 1, name: '4 kali' },
        { id: 2, name: '12 kali' },
        { id: 3, name: '18 kali' },
        { id: 4, name: '24 kali' },
        { id: 5, name: '30 kali' },
        { id: 6, name: '36 kali' },
        { id: 7, name: '46 kali' },
        { id: 8, name: '48 kali' },
      ],
      item_sumber_info: [
        { id: 1, name: 'Agency' },
        { id: 2, name: 'Brosur' },
        { id: 3, name: 'Facebook' },
        { id: 4, name: 'Instagram' },
        { id: 5, name: 'Katalog' },
        { id: 6, name: 'Baligho' },
        { id: 7, name: 'Presentasi Sekolah' },
        { id: 8, name: 'Email' },
        { id: 9, name: 'Mini Banner' },
        { id: 10, name: 'Pameran' },
        { id: 11, name: 'SMS' },
        { id: 12, name: 'Koran' },
        { id: 13, name: 'Google' },
        { id: 14, name: 'Spanduk' },
        { id: 15, name: 'Aplikasi Android Info PTS' },
        { id: 16, name: 'Rekomendasi (GSF)' },
      ],
      item_regencies: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      items: [
        {
          value: '',
        },
      ],
      fromDateMenu: false,
      fromDateVal: null,
      minDate: '1980-01-01',
      maxDate: '2018-12-31',
      formError: null,
      dialog: false,
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          nuxt: true,
        },
        {
          text: 'SMB',
          disabled: false,
          to: '/smb/register',
          nuxt: true,
        },
        {
          text: 'Daftar Mahasiswa',
          disabled: false,
        },
      ],
    }
  },
  computed: {
    fromDateDisp() {
      this.register.tanggal_lahir = this.fromDateVal
      return this.fromDateVal
    },
  },
  created() {
    this.getRegency()
  },
  methods: {
    async getRegency() {
      var regencies = await this.$axios.get(`/api/v1/regency`)

      var data = regencies.data.data

      this.item_regencies = data
    },

    getProvice: function (params, e) {
      var regencies = this.item_regencies
      var province_id = 0
      var province_name = ''
      for (var item in regencies) {
        if (regencies[item].id === e) {
          province_id = regencies[item].province.id
          province_name = regencies[item].province.name
        }
      }

      if (params === 'sekolah') {
        this.provinsi_sekolah = province_name
        this.register.provinsi_id_sekolah = province_id
        this.register.kota_id_sekolah = e
      } else {
        this.provinsi = province_name
        this.register.provinsi_id = province_id
        this.register.kota_id = e
      }
    },

    async registerUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          var post = await this.$axios.post(
            `/api/v1/mahasiswa-baru/auth/register`,
            this.register
          )

          if (post.data.success === true) {
            this.dialog = true
          } else {
            throw new Error(post.data.message)
          }
        }
      } catch (e) {
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
  // mounted() {
  //   this.$nextTick(() => {
  //     this.$nuxt.$loading.start()
  //     setTimeout(() => this.$nuxt.$loading.finish(), 500)
  //   })
  // },
}
</script>
<style scoped>
</style>