<template>
  <div>
    <Head name="Lupa Password" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <PageHeader
            title="Lupa Password"
            sub-title="Masukan email untuk mengganti password"
            align="center"
          />
          <v-alert
            class="mb-5"
            color="green"
            type="success"
            v-if="formSuccess"
            >{{ formSuccess }}</v-alert
          >
          <v-alert class="mb-5" color="red" type="error" v-if="formError">{{
            formError
          }}</v-alert>
          <v-form
            method="post"
            @submit.prevent="submit"
            v-model="valid"
            ref="form"
          >
            <v-text-field
              v-model="form.email"
              label="Email"
              small
              rounded
              outlined
              :rules="[rules.required, rules.email]"
            ></v-text-field>

            <v-btn
              dark
              color="yellow darken-2"
              rounded
              block
              x-large
              class="mb-5"
              type="submit"
              >Kirim</v-btn
            >
          </v-form></v-col
        ></v-row
      >
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      formError: null,
      formSuccess: null,
      form: {
        email: '',
        scope: 'mahasiswa-baru',
      },
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          nuxt: true,
        },
        {
          text: 'SMB',
          disabled: false,
          to: '/smb/register',
          nuxt: true,
        },
        {
          text: 'Lupa Password',
          disabled: false,
        },
      ],
    }
  },

  methods: {
    async submit() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.form)

          await this.$store.dispatch('forgotPassword', {
            data: this.form,
          })

          const data = this.$store.getters['getForgotPassword']

          // console.log(data)

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.form.email = ''
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>