<template>
  <div>
    <Head title="Galeri" />
    <Breadcrumbs :items="crumbs" />
    <v-container class="py-5">
      <v-row no-gutters>
        <v-col cols="12" class="text-center">
          <v-btn
            small
            :input-value="item.active"
            @click="changeGallery(item)"
            class="ma-2"
            rounded
            color="yellow darken-2"
            dark
            v-for="item in category"
            :key="item.id"
          >
            {{ item.name }}
          </v-btn>
        </v-col></v-row
      >
      <v-row no-gutters>
        <v-col
          v-for="(thumb, thumbIndex) in showImage"
          :key="thumbIndex"
          @click="index = thumbIndex"
          class="d-flex child-flex px-2 py-2"
          cols="6"
          md="3"
          lg="4"
        >
          <v-card style="cursor: pointer">
            <v-img :src="thumb" :lazy-src="thumb" aspect-ratio="1" dark></v-img>
          </v-card>
        </v-col>
      </v-row>
      <LightGallery
        :images="images"
        :index="index"
        :disable-scroll="true"
        @close="index = null"
      />
    </v-container>
  </div>
</template>

<script>
import { UPLOAD_GALLERY } from '@/utils/constants'
import '@/mixins/general'
import post from '~/components/post/Post'

export default {
  components: { post },
  data() {
    return {
      images: [],
      showImage: [],
      index: null,
      gallery: [],
      category: [],
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Galeri',
          disabled: false,
        },
      ],
    }
  },
  mounted() {
    this.retrieveData()
  },
  methods: {
    changeGallery(data) {
      var result = this.gallery

      if (data.slug !== 'all') {
        result = this.gallery.filter(function (obj) {
          return obj.category_slug == data.slug
        })
      }

      var category = []

      for (const item of this.category) {
        if (data.slug === item.slug) {
          item.active = true
        } else {
          item.active = false
        }

        category.push(item)
      }

      this.getImage(result)

      this.category = category
    },
    async retrieveData() {
      await this.$store.dispatch('gallery/list')
      var response = this.$store.getters['gallery/getGallery']

      var gallery = response.gallery.map(this.getDisplayGallery)

      var category = [
        {
          id: 0,
          name: 'All ' + '(' + gallery.length + ')',
          slug: 'all',
          active: true,
        },
      ]

      for (const item of response.category) {
        category.push(this.getDisplayCategory(item))
      }

      this.getImage(gallery)

      this.gallery = gallery

      this.category = category
    },
    getDisplayGallery(data) {
      var image = this.$axios.defaults.baseURL + UPLOAD_GALLERY + data.image

      return {
        id: data.id,
        title: data.title,
        category_id: data.id_category,
        category_slug: data.category.slug,
        src: image,
        caption: data.title,
      }
    },
    getDisplayCategory(data) {
      return {
        id: data.id,
        name: data.name + ' (' + data.gallery_count + ')',
        slug: data.slug,
        active: false,
        gallery_count: data.gallery_count,
      }
    },
    getImage(data) {
      var images = []
      var showImage = []

      for (const item of data) {
        var source = item.src

        showImage.push(source)

        var image = {}
        image.url = source

        images.push(image)
      }

      this.showImage = showImage
      this.images = images
    },
  },
}
</script>