<template>
  <div
    class="breadcrumbs-section d-flex justify-center grey lighten-3 font-weight-bold"
  >
    <v-breadcrumbs :items="items" class="text-capitalize" dark>
      <template v-slot:divider> | </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      },
    },
  },
  methods: {},
}
</script>
<style scope>
.breadcrumbs-section .v-breadcrumbs__divider {
  color: #333 !important;
}

.breadcrumbs-section a.v-breadcrumbs__item {
  color: #fbc02d !important;
}
</style>