<template>
  <ul class="list-category">
    <li v-for="item in items" :key="item.id" class="mt-1">
      <nuxt-link
        class="grey--text text--darken-4"
        :to="{
          name: 'article-category-slug',
          params: { slug: item.slug },
        }"
        >{{ item.name }} ({{ item.article_count }})</nuxt-link
      >
    </li>
  </ul>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      default: function () {
        return []
      },
    },
  },
}
</script>
<style scoped>
.list-category {
  list-style: none;
}
.list-category li > a:hover {
  color: #fbc02d !important;
}
</style>