<template>
  <div :class="`mb-5 text-${textAlign}`">
    <div class="text-h4">{{ title }}</div>
    <div v-if="subTitle" class="mt-2">{{ subTitle }}</div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Page Header Component',
    },
    subTitle: {
      type: String,
      default: '',
    },
    textAlign: {
      type: String,
      default: 'center',
    },
  },
}
</script>