<template>
  <div class="main font-bold">
    <div class="header">
      <img
        src="https://i.ibb.co/s6wCm6Y/logo-kampus.png"
        style="float: left; height: 65px; width: 80px"
      />
      <div class="text-center">
        <strong
          ><span class="font-16"
            ><span style="color: #3498db"
              >SEKOLAH TINGGI TEKNOLOGI INDONESIA</span
            ></span
          ></strong
        ><br />
        <strong
          ><span class="font-16"
            ><span style="color: #e74c3c"
              >SEKOLAH TINGGI ILMU EKONOMI NASIONAL INDONESIA</span
            ></span
          ></strong
        ><br />
        <strong
          ><span class="font-14">
            Jalan Matraman 3 - 5 Jakarta 13150,Telp: 021 - 8564791<br />
            e-mail
            <a href="mailto:stti_2_stieni@yahoo.com"
              >stti_2_stieni@yahoo.com</a
            ></span
          ></strong
        >
      </div>
    </div>
    <hr />
    <div class="content">
      <div class="text-center" style="margin: 10px 0px 10px 0px">
        <strong
          ><span class="font-16"
            >FORMULIR PENDAFTARAN MAHASISWA BARU REGULAR DAN PINDAHAN</span
          ></strong
        >
      </div>
      <div class="text-left font-14">
        <table
          cellspacing="0"
          cellpadding="0"
          style="margin-left: auto; margin-right: 150px"
        >
          <tr>
            <td style="width: 150px">TAHUN AKADEMIK</td>
            <td style="padding: 0px 5px">:</td>
            <td></td>
          </tr>
          <tr>
            <td style="width: 150px">NO. FORMULIR</td>
            <td style="padding: 0px 5px">:</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3" style="padding-top: 5px" class="font-normal">
              Diisi petugas
            </td>
          </tr>
          <tr>
            <td style="width: 150px">N.I.M</td>
            <td style="padding: 0px 5px">:</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div
        class="text-left font-12"
        :style="`${i === 0 ? '' : 'padding-top: 10px'} `"
        v-for="(data, i) in item_field"
        :v-key="i"
      >
        <div class="font-bold">
          <div class="number float-left">
            {{ data.number }}
          </div>
          <div class="title" style="padding-left: 25px">{{ data.title }}</div>
        </div>
        <table cellspacing="0" cellpadding="0" style="margin-top: 5px">
          <tr v-for="(item, index) in data.item" :v-key="index">
            <td
              style="width: 200px; padding: 5px 0px 2px 0px; padding-left: 25px"
            >
              <div class="number float-left">
                {{ item.number }}
              </div>

              <div class="title" style="padding-left: 25px">
                {{ item.title }}
              </div>
            </td>
            <td style="padding: 0px 10px">:</td>
            <td v-if="item.type !== 'html'">
              <div v-if="item.value">{{ item.value }}</div>
              <div v-else>{{ dataUser[item.key] }}</div>
            </td>
            <td v-else>
              <div v-html="dataUser[item.key]"></div>
            </td>
          </tr>
        </table>
      </div>
      <div class="text-center font-12" style="margin-top: 50px">
        <table cellspacing="0" cellpadding="0" style="width: 100%">
          <tr>
            <td style="width: 33%">
              <div class="top" style="padding-bottom: 120px">
                Tanda Tangan Petugas
              </div>
              <div
                style="border: thin solid; width: 120px; margin: 0 auto"
              ></div>
            </td>
            <td style="width: 33%">
              <div class="top">
                <div
                  class="photo"
                  style="
                    margin: 0 auto;
                    padding: 20px;
                    width: 80px;
                    height: 80px;
                    border: thin solid;
                  "
                >
                  <p>Photo</p>
                  <p>2 X 3</p>
                </div>
              </div>
            </td>
            <td style="width: 33%">
              <p class="top">Jakarta, …………………………</p>
              <p style="padding-bottom: 100px; margin-top: 10px">
                Calon Mahasiswa,
              </p>

              <div
                style="border: thin solid; width: 120px; margin: 0 auto"
              ></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    dataUser: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  data() {
    return {
      item_field: [
        {
          number: 'A.',
          title: 'Data Mahasiswa',
          item: [
            { title: 'Nama lengkap', number: '1.', key: 'nama_lengkap' },
            {
              title: 'Tempat/Tgl. Lahir',
              number: '2.',
              key: 'tempat_tgl_lahir',
            },
            { title: 'Jenis Kelamin', number: '3.', key: 'gender' },
            { title: 'Agama', number: '4.', key: 'agama' },
            { title: 'No Indetitas ( NIK )', number: '5.', key: 'nik' },
            { title: 'Alamat Mahasiswa', number: '6.', key: 'alamat' },
            { title: 'Kodya/Kab/Propinsi', number: null, key: 'region' },
            { title: 'Kode Pos', number: null, key: 'kode_pos' },
            { title: 'No. Telepon/HP', number: null, key: 'telepon' },
            {
              title: 'Pendidikan Terakhir',
              number: '7.',
              key: 'pendidikan_terakhir',
            },
            { title: 'No. Ijazah/Lulus Tahun', number: '8.', key: 'no_ijazah' },
            {
              title: 'Nama Sekolah/Per.Tinggi',
              number: '9.',
              key: 'nama_sekolah',
            },
            { title: 'Kodya/Propinsi', number: null, key: 'region_sekolah' },
            { title: 'Pekerjaan', number: '10.', key: 'pekerjaan' },
            { title: 'Alamat Kantor', number: '11.', key: 'alamat_kantor' },
            { title: 'Telpon Kantor', number: null, key: 'no_telp_kantor' },
            { title: 'Ukuran Jaket', number: '12.', key: 'ukuran_jaket' },
          ],
        },
        {
          number: 'B.',
          title: 'Data Orang Tua/wali',
          item: [
            { title: 'Nama Ayah Kandung/NIK', number: '1.', key: 'nama_ayah' },
            { title: 'Nama Ibu kandung/NIK', number: '2.', key: 'nama_ibu' },
            { title: 'Alamat', number: '3.', key: 'alamat_orangtua' },
            {
              title: 'Kodya/Kab/Propinsi',
              number: null,
              key: 'region_orangtua',
            },
            { title: 'Kode Pos', number: null, key: 'kode_pos_orangtua' },
            { title: 'No.Telepon/HP', number: null, key: 'telepon_orangtua' },
            { title: 'Pekerjaan Ayah', number: '4.', key: 'pekerjaan_ayah' },
            { title: 'Pekerjaan Ibu', number: '5.', key: 'pekerjaan_ibu' },
            {
              title: 'Yang Menanggung Biaya',
              number: '6.',
              key: 'penanggung_biaya',
            },
          ],
        },
        {
          number: 'C.',
          title: 'Program Pendidikan',
          item: [
            {
              title: 'Jenjang Pendidikan',
              number: '1.',
              value: 'Strata Satu ( S-1 )',
            },
            {
              title: 'Program Studi',
              number: '2.',
              key: 'program_studi',
              type: 'html',
            },
          ],
        },
      ],
    }
  },

  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.$emit('domRendered')
      }, 1000)
    })
  },
}
</script>
<style scoped>
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.main {
  background: #fff;
  padding: 20px 50px;
  margin: 0;
}

.header {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 20px;
}

.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
</style>