<template>
  <v-dialog transition="petunjuk-smb dialog-top-transition " max-width="600">
    <template v-slot:activator="{ on, attrs }">
      <v-btn depressed v-bind="attrs" v-on="on" class="primary--text" small
        >Baca Petunjuk SMB</v-btn
      >
    </template>
    <template v-slot:default="dialog">
      <v-card>
        <v-toolbar color="yellow darken-2" dark
          >Berikut Petunjuk Penerimaan Mahasiswa Baru</v-toolbar
        >
        <v-card-text>
          <ol class="mt-5">
            <li>
              Silahkan ke menu <b>Daftar</b> atau klik
              <nuxt-link :to="{ name: 'smb-register' }" tabindex="-1"
                >Disini.</nuxt-link
              >
            </li>
            <li>
              Jika sudah punya akun silahkan <b>Login</b>
              <nuxt-link :to="{ name: 'smb-login' }" tabindex="-1"
                >Disini.</nuxt-link
              >
            </li>
            <li>
              Isikan biodata anda dengan benar dan pastikan email bisa menerima
              inbox/spam berisi detail akun anda.
            </li>
            <li>
              Klik daftar dan tunggu beberapa saat sampai pendaftaran berhasil
              dan anda akan diarahkan ke halaman profil.
            </li>
            <li>
              Lengkapi biodata anda supaya Panitia (Admin) cepat mengkonfirmasi.
            </li>
            <li>
              Tunggu sampai anda dikonfirmai dan akan mendapatkan inbox ke email
              anda.
            </li>
            <li>
              Silahkan cetak formulir pendaftaran dengan cara login dengan
              email & password anda.
            </li>
            <li>
              Setelah mendownload/mencetak formulir, bawa formulir tersebut ke
              Pihak Panitia SMB sesuai tanggal yang ditentukan.
            </li>
            <li>
              Ada pertanyaan silahkan klik
              <nuxt-link to="contact-us" tabindex="-1">Disini.</nuxt-link>
            </li>
          </ol>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn text @click="dialog.value = false">Tutup</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>
<style scoped>
.petunjuk-smb .theme--light.v-btn.v-btn--has-bg {
  background-color: #f5f5f5 !important;
}
</style>