<template>
  <div>
    <Head title="Profile" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <PageHeader
            title="Cari Artikel"
            sub-title="Setelah mengisi kata kunci tekan enter"
            align="center"
          />

          <v-form @submit.prevent="search" v-model="valid" ref="form">
            <v-container>
              <v-text-field
                v-model="input"
                outlined
                :rules="[rules.required]"
                label="Cari artikel disini?"
              >
              </v-text-field>
            </v-container>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Tidak boleh kosong.',
      },
      input: '',
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Cari Artikel',
          disabled: false,
        },
      ],
    }
  },
  mounted() {
    this.input = this.$route.query.q
  },
  methods: {
    search() {
      if (this.$refs.form.validate()) {
        this.$router.push({ name: 'article', query: { search: this.input } })
      } else {
        return false
      }
    },
  },
}
</script>