<template>
  <div class="footer-section">
    <v-card flat color="grey lighten-3" tile class="pa-5">
      <v-container class="py-15">
        <div class="row" no-gutters>
          <v-col
            lg="3"
            sm="6"
            cols="12"
            v-for="(data, key) in footer"
            :key="key"
          >
            <div class="d-flex flex-column">
              <div class="yellow--text text--darken-2 text-h6 font-weight-bold">
                {{ data.title }}
              </div>
              <div class="mt-2">
                <v-list
                  style="background: transparent"
                  v-for="(item, index) in data.items"
                  :key="index"
                  :href="item.to"
                  class="pa-0"
                >
                  <v-list-item
                    class="pa-0"
                    style="min-height: 35px"
                    v-if="item.nuxt == true"
                    :to="item.to"
                  >
                    <v-list-item-icon
                      :class="`ma-0 ${
                        item.icon !== 'mdi-google-maps'
                          ? 'align-self-center'
                          : ' mt-2'
                      }`"
                      v-if="item.icon"
                    >
                      <v-icon color="yellow darken-2" class="text-body-1">
                        {{ item.icon }}
                      </v-icon>
                    </v-list-item-icon>

                    <v-list-item-content
                      :class="`pa-0 ${item.icon ? 'py-2' : ''}`"
                    >
                      <v-list-item-title
                        class="text-body-2"
                        style="white-space: none;!important"
                        >{{ item.title }}</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item
                    class="pa-0"
                    style="min-height: 35px"
                    :href="item.to"
                    target="_blank"
                    v-else
                  >
                    <v-list-item-icon
                      :class="`ma-0 ${
                        item.icon !== 'mdi-google-maps'
                          ? 'align-self-center'
                          : ' mt-2'
                      }`"
                      v-if="item.icon"
                    >
                      <v-icon color="yellow darken-2" class="text-body-1">
                        {{ item.icon }}
                      </v-icon>
                    </v-list-item-icon>

                    <v-list-item-content
                      :class="`pa-0 ${item.icon ? 'py-2' : ''}`"
                    >
                      <v-list-item-title
                        class="text-body-2"
                        style="white-space: none;!important"
                        >{{ item.title }}</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </div>
            </div>
          </v-col>
        </div>
      </v-container>
    </v-card>
    <v-card color="grey darken-3" flat tile class="pa-4 text-center" dark>
      &copy; STTI-STIENI {{ year }}
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    var d = new Date()
    var year = d.getFullYear()

    return {
      year: year,
      footer: [
        {
          title: 'Kontak Kami',
          items: [
            {
              title:
                'Kampus STTI-STIENI : Jl. Matraman No. 3-5-7 Jakarta Timur 13150',
              icon: 'mdi-google-maps',
              to: '#',
              nuxt: false,
            },
            {
              title: 'stti-stieni@email.com',
              icon: 'mdi-email',
              to: '#',
              nuxt: false,
            },
            {
              title: '6281330707048',
              icon: 'mdi-phone',
              to: '#',
              nuxt: true,
            },
          ],
        },
        {
          title: 'Sosial Media',
          items: [
            {
              title: 'Facebook',
              to: 'https://www.facebook.com/',
              nuxt: false,
            },
            {
              title: 'Instagram',
              to: 'http://instagram.com/',
              nuxt: false,
            },
            {
              title: 'Twitter',
              to: 'http://twitter.com/',
              nuxt: false,
            },
            {
              title: 'Youtube',
              to: 'http://youtube.com/',
              nuxt: false,
            },
          ],
        },
        {
          title: 'Menu Utama',
          items: [
            {
              title: 'Home',
              to: { name: 'index' },
              nuxt: true,
            },
            {
              title: 'Acara',
              to: { name: 'event' },
              nuxt: true,
            },
            {
              title: 'Artikel',
              to: { name: 'article' },
              nuxt: true,
            },
            {
              title: 'Kontak',
              to: "#",
              nuxt: true,
            },
            {
              title: 'SMB',
              to: { name: 'smb-register' },
              nuxt: true,
            },
          ],
        },
      ],
    }
  },
  mounted() {
    this.retrieveStudy()
  },
  methods: {
    async retrieveStudy() {
      await this.$store.dispatch('study/list')
      let response = this.$store.getters['study/getStudy'].study

      let list = {}
      list.title = 'Program Studi'
      list.items = []

      for (let key in response) {
        list.items.push({
          title: response[key].name,
          to: '#',
          nuxt: true,
        })
      }

      this.footer.push(list)
    },
  },
}
</script>

<style scoped>
.v-list-item__title {
  white-space: inherit;
}
.v-list-item--link:before {
  background-color: transparent !important;
}
</style>