<template>
  <div>
    <Head title="Profil Kampus"/>
    <Breadcrumbs :items="crumbs" />
    <section class="profile my-10 text-center">
      <v-container>
        <div class="text-h5 font-weight-bold">PROFIL KAMPUS</div>
        <div class="text-h5 font-weight-bold">STTI - STIENI</div>
        <div class="text-h4 py-5">
          Tempat belajar dan tumbuh bersama untuk menciptakan masa depan
        </div>
        <div class="text-subtitle-2 py-3">
          STTI dan STIENI yang pada awal berdirinya bernama Institut Politeknik
          Indonesia(IPI) didirikan pada tahun 1987. Lembaga pendidikan Swasta
          yang berlokasi di Ibukota Jakarta ini memiliki visi dan tanggung jawab
          membangun suatu sistem dan sarana pendidikan yang komprehensif,
          terintegrasi, tepat kebutuhan, dan tepat sasaran.
        </div>
        <div class="text-subtitle-2 py-3">
          Lembaga ini bernaung di bawah Yayasan Pendidikan Wijayakusuma
          (disingkat: YPW) dan telah berjalan sejak tahun 1986 dengan Surat
          Keputusan Kopertis Wilayah III No.10/Kop.III/S.VII/87 tanggal 18 Juli
          1987. Dengan proses perkembangan dan penilaian dari Pemerintah,
          diperoleh Status "Disamakan" dari Departmen Pendidikan dan Kebudayaan
          dengan Surat Keputusan No. 527/DIKTI/Kep/1993 tanggal 24 September
          1993 dan Surat Keputusan No. 555/DIKTI/Kep/1993 tanggal 11 September
          1993 serta Surat Keputusan No. 73/DIKTI/Kep/1994 tangagl 10 Maret
          1994. Perkembangan selanjutnya dalam hal mutu standarisasi pendidikan
          telah memperoleh Status "Terakreditasi" berdasarkan Keputusan Badan
          Akreditasi Nasional Perguruan Tinggi Depdikbud No.
          002/BAN.PT/AK-II/XII/1998 tanggal 22 Desember 1998. Terakreditasi
          Dirjen Dikti Depdiknas No. 4737/4738/4739/D/2006 tanggal 11 Desember
          2006.
        </div>
        <div class="text-h5 py-5">
          Rencana Pembangunan Menuju UNIVERSITAS WIJAYAKUSUMA INDONESIA
          <img
            style="
              width: 100%;
              max-width: 500px;
              max-height: 600px;
              margin-right: auto;
              margin-left: auto;
              display: block;
            "
            src="rencana_gedung.jpg"
            alt="Gedung Baru"
          />
        </div>
      </v-container>
    </section>
    <section class="visi-misi my-10">
      <v-container class="text-center">
        <div class="text-h5 font-weight-bold">VISI MISI</div>
        <div class="text-h5 font-weight-bold">
          SEKOLAH TINGGI TEKNOLOGI INDONESIA (STTI)
        </div>
        <div class="text-h5 font-weight-bold">
          SEKOLAH TINGGI ILMU EKONOMI NASIONAL INDONESIA (STIENI)
        </div>
      </v-container>
      <v-container>
        <div class="py-5">
          <div class="text-subtitle-1 font-weight-bold">VISI</div>
          <div class="text-subtitle-1">
            Menjadikan Sumber Daya Manusia Profesional Entrepreneur, berwawasan
            Sains & Teknologi yang Berakhlak Mulia, Berkarakter, Berkompetensi
            dan Berintegritas.
          </div>
        </div>
        <div class="py-5">
          <div class="text-subtitle-1 font-weight-bold">MISI</div>
          <div class="text-subtitle-1">
            1. Pelaksanaan Proses Belajar Mengajar yang bermuatan Sains
            Teknologi dan Bisnis berbasis Teknologi Informasi dan Komunikasi /
            4.0 , 5G.
          </div>
          <div class="text-subtitle-1">
            2. Pelaksanaan Penelitian dan Pengembangan Keilmuan dengan muatan
            Sains Teknologi dan Bisnis yang menghasilkan Profesional
            Entrepreneur.
          </div>
          <div class="text-subtitle-1">
            3. Pelaksanaan Penerapan Profesional Entrepreneur di Lingkungan
            Masyarakat Nasional dan Global.
          </div>
        </div>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Profile Kampus',
          disabled: false,
        },
      ],
    }
  },
}
</script>