<template>
  <v-app>
    <Header />

    <v-main class="main-website">
      <!-- <v-container> -->
      <nuxt />
      <!-- </v-container> -->
    </v-main>
    <Footer />
    <v-btn
      v-scroll="onScroll"
      v-show="fab"
      fab
      dark
      fixed
      bottom
      right
      color="yellow darken-2"
      @click="toTop"
    >
      <v-icon>mdi-apple-keyboard-control</v-icon>
    </v-btn>
  </v-app>
</template>

<script>
import Footer from '~/components/footer/Footer'
import Header from '~/components/header/Header'

export default {
  components: { Footer, Header },
  data() {
    return {
      fab: false,
    }
  },
  methods: {
    onScroll(e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 300
    },
    toTop() {
      this.$vuetify.goTo(0)
    },
  },
  mounted() {},
  computed: {
    crumbs: function () {
      //

      let pathArray = this.$route.path.split('/')
      pathArray.shift()

      let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
        if (path !== '') {
          breadcrumbArray.push({
            path: path,
            href: breadcrumbArray[idx - 1]
              ? '/' + breadcrumbArray[idx - 1].path + '/' + path
              : '/' + path,
            text: path,
            disabled: breadcrumbArray[idx - 1] ? true : false,
          })
        }
        return breadcrumbArray
      }, [])
      return breadcrumbs
    },
  },
}
</script>


<style scope>
.main-website {
  margin-top: 56px !important;
}
@media (min-width: 960px) {
  .main-website {
    margin-top: 60px !important;
  }
}
</style>