<template>
  <div>
    {{ crumbs }} // printing raw json <br /><br />
    <v-breadcrumbs :items="crumbs">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
    <v-card>
      <nuxt />
    </v-card>
  </div>
</template>
<script>
export default {
  computed: {
    route() {
      return this.$route
    },
    crumbs: function () {
      //

      let pathArray = this.$route.path.split('/')
      pathArray.shift()

      let breadcrumbs = pathArray.reduce((breadcrumbArray, path, idx) => {
        if (path !== '') {
          breadcrumbArray.push({
            path: path,
            href: breadcrumbArray[idx - 1]
              ? '/' + breadcrumbArray[idx - 1].path + '/' + path
              : '/' + path,
            text: path,
            disabled: breadcrumbArray[idx - 2] ? true : false,
          })
        }
        return breadcrumbArray
      }, [])
      return breadcrumbs
    },
  },
}
</script>