<template>
  <div>
    <Head :title="detail.title" :photo="image" />
    <Breadcrumbs :items="crumbs" />
    <v-container>
      <v-row justify="center" class="pt-5" no-gutters>
        <v-col cols="12" md="8">
          <PostDetail class="px-2 py-1" :data="detail" :tag="tag" />
        </v-col>
        <v-col cols="12" md="4" class="mt-3 mt-md-0">
          <div
            class="text-h5 yellow--text text--darken-2 px-lg-3 px-2 font-weight-bold"
          >
            Popular Artikel
          </div>
          <Post
            small-content
            small-icon
            no-image
            font-size-title="text-subtitle-1 font-weight-bold"
            v-for="item in articlePopular"
            :key="item.id"
            :data="item"
            class="px-lg-3 px-2"
          />
          <div
            class="text-h5 yellow--text text--darken-2 px-lg-3 px-2 mt-5 font-weight-bold"
          >
            Kategori Artikel
          </div>
          <ListCategory :items="category" class="px-lg-3 px-2 mt-3 my-5" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { TYPE_CATEGORY_ARTICLE, UPLOAD_ARTICLE } from '@/utils/constants'
import PostDetail from '~/components/post/PostDetail'

export default {
  components: { PostDetail },
  async asyncData({ $axios, store, params, error }) {
    await store.dispatch('article/detail', {
      slug: params.slug,
    })

    let responseDetail = store.getters['article/getDetail']

    let detail = responseDetail.article

    await store.dispatch('article/list', {
      params: {
        pagination: 'false',
        limit: 4,
        type: 'popular',
        without_id: '[' + detail.id + ']',
      },
    })

    let responsePopular = store.getters['article/getArticle']

    let articlePopular = responsePopular.article.map((data) => {
      let content = data.content

      if (content.length > 160) {
        content = content.substr(0, 160) + '...'
      }

      return {
        id: data.id,
        title: data.title,
        slug: data.slug,
        content: content,
        image: data.image,
        created_at: data.created_at,
        category_slug: data.category_slug,
        category_name: data.category_name,
        viewer: data.viewer,
      }
    })

    await store.dispatch('category/list', {
      type: TYPE_CATEGORY_ARTICLE,
    })

    let responseCategory = store.getters['category/getCategory']

    let category = responseCategory.category

    return {
      articlePopular: articlePopular,
      detail: detail,
      category: category,
      tag: responseDetail.tag,
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          nuxt: true,
          to: '/',
        },
        {
          text: 'Artikel',
          disabled: false,
          nuxt: true,
          to: '/article',
        },
        {
          text: detail.title,
          disabled: false,
        },
      ],
    }
  },
  data() {
    return {
      // image: '',
      description: '',
    }
  },
  computed: {
    image() {
      return this.$axios.defaults.baseURL + UPLOAD_ARTICLE + this.detail.image
    },
  },
  mounted() {
    if (process.env.NODE_ENV == 'production') {
      this.updateViewer()
    }
  },
  methods: {
    async updateViewer() {
      await this.$store.dispatch('article/addViewer', {
        slug: this.$route.params.slug,
      })

      const response = this.$store.getters['article/getViewer']

      this.detail.viewer = response
    },
  },
}
</script>