body {
  line-height: 1 !important;
  /* font-family: 'Montserrat', sans-serif !important; */
}

a {
  text-decoration: none;
}

p span {
  /* font-family: 'Montserrat', sans-serif !important; */
  color: #000000;
}

.theme--light.v-card>.v-card__text,
.theme--light.v-card .v-card__subtitle {
  color: #000000 !important;
}

figcaption,
figcaption span {
  color: rgb(153, 153, 153) !important;
  font-size: 10pt !important;
}

.v-application .subtitle-1 {
  line-height: 1.3rem !important;
}
