<template>
  <div class="index-section">
    <Head title="Index"/>
    <div class="carousel-wrapper-top">
      <carousel v-bind="options">
        <slide v-for="item in sliders" :key="item.id">
          <div
            class="carousel-container"
            :style="`background-image: linear-gradient(to bottom, rgba(20,20,20,0.6),rgba(20,20,20,0.6)), url('${item.src}');`"
          >
            <v-row
              justify="center"
              class="text-center white--text padding-text"
              no-gutters
            >
              <v-col md="9" lg="7" cols="10">
                <div class="text-md-h2 text-h4 font-weight-bold">
                  ACARA PELATIHAN PROTOKOL KESEHATAN
                </div>
                <p class="text-h6 font-weight-light">
                  Kali ini sekolah kami sedang bersosialisasi untuk menerapkan
                  protokol kesehatan pencegahan COVID-19. Semua siswa dan guru
                  ikut serta dalam kegiatan ini.
                </p>
                <v-btn
                  dark
                  rounded
                  color="yellow darken-2"
                  x-large
                  class="text-capitalize mt-5"
                  type="submit"
                  >Selengkapnya</v-btn
                >
              </v-col>
            </v-row>
          </div>
        </slide>
      </carousel>
    </div>
    <v-card flat class="text-center py-10">
      <v-container class="py-10">
        <div class="our-service-title text-block-info">
          <div
            class="yellow--text text--darken-2 font-weight-bold text-h5 py-4"
          >
            Our Service
          </div>
          <div class="text-h4 text-md-h3 font-weight-bold">
            Keunggulan Kampus Kami
          </div>
          <div class="text-subtitle-1 font-weight-light mt-3">
            Kampus Kami Terus Melakukan Perbaikan Baik Dari Segi Pembelajaran &
            Fasilitas. Kampus Kami Juga Terus Berupaya Meningkatkan Kualitas SDM
          </div>
        </div>
        <v-row class="our-service-icon py-10" no-gutters>
          <v-col
            sm="6"
            md="3"
            cols="12"
            v-for="item in ourServiceIcon"
            :key="item.id"
          >
            <img :src="item.src" width="80" />
            <div class="title text-h5 font-weight-bold mt-2">
              {{ item.title }}
            </div>
            <div class="text-subtitle-1 font-weight-light mt-3">
              {{ item.caption }}
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-card flat color="yellow darken-2" class="py-10" dark>
      <v-container>
        <div
          class="d-flex flex-md-row flex-sm-row flex-column justify-space-between text-center text-md-left"
        >
          <div class="text-h4 font-weight-bold">
            Pendaftaran Mahasiswa Baru Dibuka
          </div>
          <div class="mt-md-0 mt-sm-0 mt-10">
            <v-btn
              dark
              to="/smb/register"
              rounded
              color="amber darken-2"
              large
              type="submit"
              class="text-capitalize"
              >Daftarkan Diri Anda</v-btn
            >
          </div>
        </div>
      </v-container>
    </v-card>
    <v-card flat color="grey lighten-3" class="py-10">
      <v-container>
        <div class="text-block-info text-center">
          <div
            class="grey--text text--darken-4 font-weight-bold text-h4 text-md-h3 py-4"
          >
            Program Studi STII-STIENI
          </div>
          <!-- <div class="text-h3 font-weight-bold">Keunggulan Kampus Kami</div> -->
          <div class="text-md-h6 text-subtitle-1 font-weight-light mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
            excepturi, impedit expedita quis voluptatum, nesciunt earum sint et
            totam laborum quisquam vel, architecto debitis? Illum mollitia
            architecto maxime esse laudantium.
          </div>
        </div>
        <carousel
          class="mt-10"
          :per-page="4"
          :per-page-custom="[
            [350, 1],
            [500, 2],
            [700, 3],
            [1000, 4],
          ]"
        >
          <slide v-for="item in study" :key="item.id" class="pa-2">
            <v-card
              class="price-box text-center"
              flat
              dark
              color="yellow darken-2"
            >
              <div class="price-box-media">
                <img class="price-box-img" :src="item.image" />
                <div class="price-box-tag">{{ item.count }} Mahasiswa</div>
              </div>
              <div class="price-box-body pa-5">
                <div class="text-h6">{{ item.name }}</div>
                <div class="text-subtitle-1">{{ item.content }}</div>
              </div>
            </v-card>
          </slide>
        </carousel>
      </v-container>
    </v-card>
    <v-card flat class="py-10">
      <v-container>
        <div class="text-block-info text-center">
          <div
            class="grey--text text--darken-4 font-weight-bold text-h4 text-md-h3 py-4"
          >
            Berbagai Acara Kami
          </div>
          <!-- <div class="text-h3 font-weight-bold">Keunggulan Kampus Kami</div> -->
          <div class="text-md-subtitle-1 text-subtitle-2 font-weight-light">
            Jangan Terlewatkan Untuk Lihat Semua Acara Kami Yang Akan Datang
            Ataupun Sudah Dilakasanan
          </div>
        </div>
        <div class="">
          <v-row justify="center" class="pt-5" no-gutters>
            <v-col
              cols="12"
              xs="8"
              sm="6"
              md="4"
              v-for="item in eventKuliah"
              :key="item.id"
            >
              <Event class="px-4 py-2" flex-column-icon :data="item" />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>
    <v-card flat class="pb-16">
      <v-container>
        <div class="text-block-info text-center">
          <div
            class="grey--text text--darken-4 font-weight-bold text-h4 text-md-h3 py-4"
          >
            Kegiatan Kampus STTI - STIENI
          </div>
          <div class="text-md-subtitle-1 text-subtitle-2 font-weight-light">
            Aktivitas Kegiatan Kampus dalam pengembangan diri Mahasiswa
          </div>
        </div>
        <div class="">
          <v-row class="pt-5" no-gutters>
            <v-col
              class="mt-5"
              cols="12"
              xs="8"
              sm="6"
              md="4"
              v-for="item in eventKegiatan"
              :key="item.id"
            >
              <Event class="px-4 py-2" :data="item" flex-column-icon />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-card>
    <v-card flat class="pa-10" color="yellow darken-2" dark>
      <div
        class="image-statistik d-none d-md-block"
        :style="`background-image:url('slider/slider_kshtn.png');`"
      ></div>
      <v-container>
        <v-row no-gutters>
          <v-col cols="12" md="7">
            <div class="font-weight-bold text-h4 text-md-h3 py-1">
              Statistik Universitas
            </div>
            <div class="text-md-subtitle-h6 text-subtitle-1 font-weight-light">
              Info Statistik Keseluruhan Dari Universitas STTI-STIENI
            </div>
            <v-row no-gutters class="mb-5">
              <v-col cols="6" md="6" class="mt-md-10 mt-5">
                <div class="d-flex">
                  <v-icon class="text-md-h2 text-sm-h3 text-h4 align-start"
                    >mdi-account-tie</v-icon
                  >
                  <div class="ml-3 mt-md-2 mt-0">
                    <div class="text-md-h3 text-sm-h4 text-h5 font-weight-bold">
                      46
                    </div>
                    <div
                      class="text-md-h5 text-sm-h6 text-subtitle-1 font-weight-medium"
                    >
                      Staff & Dosen
                    </div>
                  </div>
                </div>
              </v-col>
              <v-col cols="6" md="6" class="mt-md-10 mt-5">
                <div class="d-flex">
                  <v-icon class="text-md-h2 text-sm-h3 text-h4 align-start"
                    >mdi-account-tie</v-icon
                  >
                  <div class="ml-3 mt-md-2 mt-0">
                    <div class="text-md-h3 text-sm-h4 text-h5 font-weight-bold">
                      35
                    </div>
                    <div
                      class="text-md-h5 text-sm-h6 text-subtitle-1 font-weight-medium"
                    >
                      Penghargaan
                    </div>
                  </div>
                </div>
              </v-col>
              <v-col cols="6" md="6" class="mt-md-10 mt-5">
                <div class="d-flex">
                  <v-icon class="text-md-h2 text-sm-h3 text-h4 align-start"
                    >mdi-account-tie</v-icon
                  >
                  <div class="ml-3 mt-md-2 mt-0">
                    <div class="text-md-h3 text-sm-h4 text-h5 font-weight-bold">
                      1053
                    </div>
                    <div
                      class="text-md-h5 text-sm-h6 text-subtitle-1 font-weight-medium"
                    >
                      Mahasiswa
                    </div>
                  </div>
                </div>
              </v-col>
              <v-col cols="6" md="6" class="mt-md-10 mt-5">
                <div class="d-flex">
                  <v-icon class="text-md-h2 text-sm-h3 text-h4 align-start"
                    >mdi-account-tie</v-icon
                  >
                  <div class="ml-3 mt-md-2 mt-0">
                    <div class="text-md-h3 text-sm-h4 text-h5 font-weight-bold">
                      20
                    </div>
                    <div
                      class="text-md-h5 text-sm-h6 text-subtitle-1 font-weight-medium"
                    >
                      Kelas
                    </div>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-col></v-row
        >
      </v-container>
    </v-card>
    <v-card flat class="py-10">
      <v-container>
        <div class="text-block-info text-center">
          <div
            class="grey--text text--darken-4 font-weight-bold text-h4 text-md-h3 py-4"
          >
            Artikel Kampus
          </div>
          <div class="text-md-subtitle-1 text-subtitle-2 font-weight-light">
            Baca Kegiatan Info Populer Dan Menarik Seputar Kampus Kami
          </div>
        </div>
        <div class="mt-10">
          <v-row class="pt-5" no-gutters>
            <v-col cols="12" sm="6">
              <Post class="px-4 py-2" :data="articleParent" />
            </v-col>
            <v-col cols="12" sm="6" class="mt-3 mt-md-0">
              <Post
                class="px-4 py-lg-2 py-1"
                no-image
                v-for="item in article"
                :key="item.id"
                :data="item"
              /> </v-col
          ></v-row>
        </div> </v-container
    ></v-card>
  </div>
</template>

<script>
import { UPLOAD_STUDY, UPLOAD_EVENT, UPLOAD_ARTICLE } from '@/utils/constants'
import '@/mixins/general'
import Post from '~/components/post/Post'
import Event from '~/components/post/Event'

export default {
  components: { Post, Event },
  layout: 'index',
  data() {
    return {
      study: [],
      eventKuliah: [],
      eventKegiatan: [],
      articleParent: {},
      article: [],
      options: {
        loop: true,
        perPage: 1,
        paginationEnabled: true,
      },
      optionsProgramStudy: {
        loop: false,
        perPage: 4,
        paginationEnabled: true,
      },
      sliders: [
        {
          id: 1,
          src: 'slider/slider_kmps.jpg',
          to: '/',
          title: 'PENERIMAAN PESERTA DIDIK BARU DIBUKA',
          caption:
            'Penerimaan peserta didik baru STTI - STIENI sudah dibuka segera daftarkan diri anda dan pastikan anda akan mendapatkan pendidikan yang unggul dan berkualitas disini.',
        },
        {
          id: 2,
          src: 'slider/slider_kshtn.png',
          to: '/',
          title: 'SELAMAT DATANG DI KAMPUS STTI - STIENI',
          caption:
            'Sekolah Tinggi Teknologi Indonesia & STIE Nasional Indonesia.',
        },
      ],
      ourServiceIcon: [
        {
          id: 1,
          src: 'ourservice/200_1600990106_a8ebb3391220565cc20d.png',
          title: 'Fasilitas Studi Lengkap',
          caption:
            'Terdiri dari berbagai laboratorium (lengkap), studio, bengkel, tempat ibadah, sarana olah raga, computer centre, kerjasama dgn perusahaan/industri, dan lain sebagainya.',
        },
        {
          id: 2,
          src: 'ourservice/200_1600990144_c898e4fce25683c2f91c.png',
          title: 'Status, Bobot / Mutu, Hak Akademik',
          caption:
            'Alumnus dan mahasiswa/i Program Reguler dan Program Perkuliahan Karyawan mendapatkan STATUS, BOBOT / MUTU, HAK AKADEMIK, serta IJAZAH yang SAMA.',
        },
        {
          id: 3,
          src: 'ourservice/200_1600990159_ce47a03644fb592678c7.png',
          title: 'Beasiswa Pendidikan',
          caption:
            'Disediakan bantuan biaya pendidikan (beasiswa pendidikan) tanpa ikatan utk mahasiswa/i reguler Sekolah Tinggi Teknologi Indonesia & STIE Nasional Indonesia yg sangat memerlukan.',
        },
        {
          id: 4,
          src: 'ourservice/200_1600990144_c898e4fce25683c2f91c.png',
          title: 'Inkubator Bisnis',
          caption:
            'Disediakan bantuan biaya pendidikan (beasiswa pendidikan) tanpa ikatan utk mahasiswa/i reguler Sekolah Tinggi Teknologi Indonesia & STIE Nasional Indonesia yg sangat memerlukan.',
        },
      ],
    }
  },
  mounted() {
    this.retrieveStudy()
    this.retrieveEvent()
    this.retrieveArticle()
  },
  methods: {
    async retrieveStudy() {
      await this.$store.dispatch('study/list')
      let response = this.$store.getters['study/getStudy'].study

      this.study = response.map((data) => ({
        id: data.id,
        name: data.name,
        content: data.content,
        image: this.$axios.defaults.baseURL + UPLOAD_STUDY + data.image,
        count: 200,
      }))
    },
    async retrieveEvent() {
      await this.$store.dispatch('event/list', {
        params: {
          pagination: 'false',
          limit: 2,
        },
      })
      var responseKuliah = this.$store.getters['event/getEvent'].event

      this.eventKuliah = responseKuliah.map(this.getDisplayEvent)

      await this.$store.dispatch('event/list', {
        params: {
          pagination: 'false',
          limit: 6,
        },
      })
      var responseKegiatan = this.$store.getters['event/getEvent'].event

      this.eventKegiatan = responseKegiatan.map(this.getDisplayEvent)
    },
    getDisplayEvent(data) {
      return {
        id: data.id,
        slug: data.slug,
        title: data.title,
        image: data.image,
        date_start: this.dateFull(data.date_start, 'yyyy-MM-DD hh:mm'),
        date_end: this.dateFull(data.date_end, 'yyyy-MM-DD hh:mm'),
        location: data.location,
      }
    },
    async retrieveArticle() {
      await this.$store.dispatch('article/list', {
        params: {
          pagination: 'false',
          limit: 4,
        },
      })
      const response = this.$store.getters['article/getArticle'].article

      const article = response.map(this.getDisplayArticle)

      this.article = article

      var parent = this.article[0]

      this.articleParent = parent

      this.article.splice(0, 1)
    },
    getDisplayArticle(data) {
      let content = data.content

      if (content.length > 100) {
        content = content.substr(0, 100) + '...'
      }

      return {
        id: data.id,
        title: data.title,
        slug: data.slug,
        content: content,
        image: data.image,
        created_at: data.created_at,
        category_slug: data.category_slug,
        category_name: data.category_name,
        viewer: data.viewer,
      }
    },
  },
}
</script>


<style>
@import '~/assets/css/pages/index/style.css';
</style>

