<template>
  <div :class="`post post-event`">
    <div class="post-media">
      <img
        class="post-img"
        :src="image"
        style="object-fit: cover; width: 100%"
      />
    </div>
    <div :class="`post-meta d-flex mt-5 flex-column flex-md-row flex-lg-row`">
      <div class="post-meta-item d-flex mr-2">
        <v-icon color="yellow darken-2" class="text-h6">mdi-calendar</v-icon>
        <div :class="`post-time ml-2 text-body-1 font-weight-light`">
          {{ date_start }}
        </div>
      </div>
      <div class="post-meta-item d-flex">
        <v-icon color="yellow darken-2" class="text-h6"
          >mdi-clock-outline</v-icon
        >
        <div :class="`post-time ml-2 text-body-1 font-weight-light`">
          {{ time }}
        </div>
      </div>
      <div :class="`post-meta-item d-flex ml-md-2 ml-lg-2 ml-0 `">
        <v-icon color="yellow darken-2" class="text-h6">mdi-map-marker</v-icon>
        <div :class="`post-time ml-2 text-body-1 font-weight-light  `">
          {{ data.location }}
        </div>
      </div>
    </div>

    <div class="post-title text-h6">
      <nuxt-link to="" class="grey--text text--darken-4 font-weight-bold">{{
        data.title
      }}</nuxt-link>
    </div>

    <div class="post-text">
      <div class="text-no-wrap secondary"></div>
      <v-chip dark label color="yellow darken-2 mb-3"
        ><v-icon left> mdi-information-outline </v-icon>Detail Waktu :
        {{ date_detail }}</v-chip
      >
      <div v-html="data.content"></div>
    </div>
  </div>
</template>
<script>
import { UPLOAD_EVENT } from '@/utils/constants'
import '@/mixins/general'
export default {
  props: {
    data: {
      type: Object,
      default: function () {
        return {}
      },
    },
  },
  computed: {
    date_start() {
      return this.dateFull(this.data.date_start, 'DD MMM YYYY')
    },
    date_detail() {
      let date_start = this.data.date_start
      let date_end = this.data.date_end

      if (
        this.dateFull(date_start, 'DDDD MMM YYYY') ===
        this.dateFull(date_end, 'DDDD MMM YYYY')
      ) {
        return (
          this.dateFull(date_start, 'dddd, DD MMM YYYY hh:mm') +
          ' - ' +
          this.dateFull(date_end, 'hh:mm')
        )
      } else {
        return (
          this.dateFull(date_start, 'dddd, DD MMM YYYY hh:mm') +
          ' - ' +
          this.dateFull(date_end, 'dddd, DD MMM YYYY hh:mm')
        )
      }
    },
    time() {
      return this.dateFull(this.data.date_start, 'hh:mm')
    },
    image() {
      return this.$axios.defaults.baseURL + UPLOAD_EVENT + this.data.image
    },
  },
}
</script>
<style scoped>
@import './style.css';
</style>