<template>
  <div :class="`post post-event`">
    <nuxt-link :to="href" class="post-media">
      <img
        class="post-img"
        :src="image"
        :style="`object-fit: cover; width: 100%; height:250px`"
      />
      <div class="post-date">
        <div class="post-day">{{ day }}</div>
        <div class="post-month">{{ month }}</div>
      </div>
    </nuxt-link>
    <div :class="`post-title text-lg-h6 text-h6 text-md-subtitle-2`">
      <nuxt-link to="" class="grey--text text--darken-4 font-weight-bold">{{
        data.title
      }}</nuxt-link>
    </div>
    <div :class="`post-meta d-flex flex-column`">
      <div class="post-meta-item d-flex">
        <v-icon color="yellow darken-2" class="text-h6"
          >mdi-clock-outline</v-icon
        >
        <div :class="`post-time ml-2 text-body-1 font-weight-light`">
          {{ time }}
        </div>
      </div>
      <div :class="`post-meta-item d-flex mt-1`">
        <v-icon color="yellow darken-2" class="text-h6">mdi-map-marker</v-icon>
        <div :class="`post-time ml-2 text-body-1 font-weight-light  `">
          {{ data.location }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { UPLOAD_EVENT } from '@/utils/constants'
import '@/mixins/general'
export default {
  props: {
    flexColumnIcon: { type: Boolean },
    data: {
      type: Object,
      default: function () {
        return {}
      },
    },
    noHref: { type: Boolean },
  },
  computed: {
    date_start() {
      return this.dateFull(this.data.date_start, 'dddd, DD MMM YYYY')
    },
    day() {
      return this.dateFull(this.data.date_start, 'DD')
    },
    time() {
      return this.dateFull(this.data.date_start, 'hh:mm')
    },
    month() {
      return this.dateFull(this.data.date_start, 'MMM')
    },
    href() {
      return { name: 'event-slug', params: { slug: this.data.slug } }
    },
    image() {
      return this.$axios.defaults.baseURL + UPLOAD_EVENT + this.data.image
    },
  },
}
</script>
<style scoped>
@import './style.css';
</style>