<template>
  <div :class="`post`">
    <nuxt-link :to="href" class="post-media" v-if="!noImage">
      <img
        class="post-img"
        :src="image"
        :style="`object-fit: cover; width: 100%; height:250px`"
      />
    </nuxt-link>
    <div :class="`post-meta d-flex `">
      <div class="post-meta-item d-flex">
        <v-icon
          color="yellow darken-2"
          :class="`${smallIcon ? 'text-caption' : 'text-body-1'}`"
          >mdi-calendar</v-icon
        >

        <div
          :class="`post-time ml-2 ${
            smallIcon ? 'text-caption' : 'text-body-1'
          } font-weight-light`"
        >
          {{ created_at }}
        </div>
      </div>
      <div :class="`post-meta-item d-flex ml-2`">
        <v-icon
          color="yellow darken-2"
          :class="`${smallIcon ? 'text-caption' : 'text-body-1'}`"
          >mdi-tag</v-icon
        >
        <nuxt-link
          :to="{
            name: 'article-category-slug',
            params: { slug: data.category_slug },
          }"
          :class="`grey--text text--darken-4 post-time ml-2  font-weight-light ${
            smallIcon ? 'text-caption' : 'text-body-1'
          }`"
        >
          {{ data.category_name }}
        </nuxt-link>
      </div>
      <div :class="`post-meta-item d-flex ml-2`" v-if="viewIcon">
        <v-icon
          color="yellow darken-2"
          :class="`${smallIcon ? 'text-caption' : 'text-body-1'}`"
          >mdi-eye</v-icon
        >
        <div
          :class="`post-time ml-2  font-weight-light ${
            smallIcon ? 'text-caption' : 'text-body-1'
          }`"
        >
          Dilihat {{ data.viewer }}x
        </div>
      </div>
    </div>
    <div :class="`post-title ${fontSizeTitle}`">
      <nuxt-link :to="href" class="grey--text text--darken-4">{{
        data.title
      }}</nuxt-link>
    </div>
    <small v-if="smallContent">
      <div class="post-text" v-html="data.content"></div>
    </small>
    <div class="post-text" v-html="data.content" v-else></div>
  </div>
</template>
<script>
import { UPLOAD_ARTICLE } from '@/utils/constants'
import '@/mixins/general'
export default {
  props: {
    viewIcon: { type: Boolean },
    smallIcon: { type: Boolean },
    noImage: { type: Boolean },
    smallContent: { type: Boolean },
    fontSizeTitle: {
      type: String,
      default: function () {
        return 'text-h6'
      },
    },
    icon: {
      type: Array,
      default: function () {
        return []
      },
    },
    data: {
      type: Object,
      default: function () {
        return {}
      },
    },
    tag: {
      type: Array,
      default: function () {
        return []
      },
    },
  },
  computed: {
    href() {
      return '/article/' + this.data.slug
    },
    created_at() {
      return this.dateFull(this.data.created_at, 'yyyy-MM-DD hh:mm')
    },
    image() {
      return this.$axios.defaults.baseURL + UPLOAD_ARTICLE + this.data.image
    },
  },
  methods: {
    getIcon(name) {
      if (this.icon) {
        var icon = this.icon

        var condition = false
        for (const item of icon) {
          if (item === name) {
            condition = true
          }
        }

        return condition
      }
    },
  },
}
</script>
<style scope>
@import './style.css';
</style>