.post img {
    vertical-align: middle;
}

.post {
    text-align: left;
}

.post-title a {
    text-decoration: none;
}

.post-media {
    overflow: hidden;
    display: block;
    border-radius: 0.625rem;
}

a.post-media {
    transition: all 0.2s ease-in-out;
}

a.post-media:hover {
    opacity: .8;
    box-shadow: 5px 6px 18px rgba(23, 23, 36, 0.12);
}

.post-img {
    width: 100%;
}

*+.post {
    margin-top: 1.35625rem;
}

*+.post-offset {
    margin-top: 2.31875rem;
}

h2+.post-offset {
    margin-top: 1.9375rem;
}

*+.post-meta {
    margin-top: 0.99688rem;
}

*+.post-title {
    margin-top: 0.65313rem;
}

*+.post-text {
    margin-top: 0.55rem;
}

.post-meta-align .post-meta {
    justify-content: space-between;
}

.post-responsive {
    margin-left: auto;
    margin-right: auto;
}

.post-responsive-1 {
    max-width: 370px;
}

@media (min-width: 480px) {
    .post-responsive {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    *+.post {
        margin-top: 1.35625rem;
    }
    *+.post-offset {
        margin-top: 2.31875rem;
    }
    h2+.post-offset {
        margin-top: 1.35625rem;
    }
    *+.post-meta {
        margin-top: 1.26875rem;
    }
    *+.post-title {
        margin-top: 0.83125rem;
    }
    *+.post-text {
        margin-top: 0.7rem;
    }
}

@media (min-width: 1600px) {
    *+.post {
        margin-top: 1.9375rem;
    }
    *+.post-offset {
        margin-top: 3.3125rem;
    }
    h2+.post-offset {
        margin-top: 1.9375rem;
    }
    *+.post-meta {
        margin-top: 1.8125rem;
    }
    *+.post-title {
        margin-top: 1.1875rem;
    }
    *+.post-text {
        margin-top: 1rem;
    }
}

.post-event {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post-event .post-media {
    position: relative;
    overflow: hidden;
    border-radius: 0.625rem;
}

.post-event .post-date {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0.625rem 0.9375rem 0.25rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff9900;
    border-radius: 0.3125rem;
}

.post-event .post-day {
    font-size: 1.875rem;
    line-height: .8;
}

.post-event .post-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-event .post-meta {
    font-size: 1rem;
    line-height: 1.65;
}

.post-event .post-meta-icon {
    margin-right: 0.625rem;
    font-size: 1.1em;
    line-height: 1.3;
}

.post-event *+.post-heading {
    margin-top: 1.1rem;
}

.post-event *+.post-meta {
    margin-top: 0.4125rem;
}

@media (min-width: 992px) {
    .post-event *+.post-heading {
        margin-top: 1.4rem;
    }
    .post-event *+.post-meta {
        margin-top: 0.525rem;
    }
}

@media (min-width: 1600px) {
    .post-event .post-body {
        padding: 1.5625rem 1.25rem 1.875rem;
    }
    .post-event *+.post-heading {
        margin-top: 2rem;
    }
    .post-event *+.post-meta {
        margin-top: 0.75rem;
    }
}