<template>
  <div class="dashboard-index-page">
    <Head title="Dashboard" />
    <template>
      <v-parallax
        dark
        src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
      >
        <v-row align="center" justify="center">
          <v-col class="text-center" cols="12">
            <h1 class="display-1 font-weight-thin mb-4">Vuetify</h1>
            <h4 class="subheading">Build your application today!</h4>
          </v-col>
        </v-row>
      </v-parallax>
    </template>
  </div>
</template>
<script>
export default {
  middleware: ['auth'],
  data() {
    return {
      email: '',
      password: '',
    }
  },
}
</script>