<template>
  <div class="login-page">
    <Breadcrumbs :items="crumbs" />
    <Head title="Login" />
    <v-container>
      <v-row no-gutters justify="center">
        <v-col cols="12" md="6" class="mt-2">
          <div class="text-center text-h4 mb-3"></div>
          <PageHeader
            title="Login Mahasiswa Baru"
            sub-title="Isi email dan password dengan benar"
            align="center"
          />
          <div class="text-center my-5"><PetunjukSmb /></div>

          <v-alert color="red" type="error" v-if="formError">{{
            formError
          }}</v-alert>
          <v-form
            @submit.prevent="userLogin"
            ref="form"
            v-model="valid"
            method="post"
            class="mt-10"
          >
            <v-row>
              <v-col cols="12">
                <v-text-field
                  small
                  rounded
                  outlined
                  ref="email"
                  label="Email"
                  v-model="login.email"
                  :rules="[rules.required, rules.email]"
                ></v-text-field>
                <v-text-field
                  small
                  rounded
                  outlined
                  ref="password"
                  v-model="login.password"
                  label="Password"
                  type="password"
                  :rules="[rules.required]"
                ></v-text-field>
                <v-btn
                  dark
                  rounded
                  color="yellow darken-2"
                  block
                  x-large
                  class="mb-5"
                  type="submit"
                  >Login</v-btn
                >
                <div class="d-flex justify-space-between">
                  <nuxt-link
                    :to="{ name: 'smb-forgot-password' }"
                    class="pa-7 text-decoration-none"
                    >Lupa Password</nuxt-link
                  >
                  <nuxt-link
                    :to="{ name: 'smb-register' }"
                    class="pa-7 text-decoration-none"
                    >Daftar Mahasiswa Baru</nuxt-link
                  >
                </div></v-col
              ></v-row
            ></v-form
          ></v-col
        >
      </v-row>
    </v-container>

    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-subtitle-1"
          >Anda berhasil login.</v-card-title
        >
        <v-card-text> Selamat Datang </v-card-text>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            small
            text
            @click="$router.push({ name: 'dashboard-user-profile' })"
          >
            Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  middleware: 'guest',
  data() {
    return {
      valid: true,
      login: {
        email: '',
        password: '',
      },
      formError: null,
      dialog: false,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      crumbs: [
        {
          text: 'Home',
          disabled: false,
          to: '/',
          nuxt: true,
        },
        {
          text: 'SMB',
          disabled: false,
          to: '/smb/register',
          nuxt: true,
        },
        {
          text: 'Login Mahasiswa',
          disabled: false,
        },
      ],
    }
  },
  methods: {
    async userLogin() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()
          let response = await this.$auth.loginWith('local', {
            data: this.login,
          })
          if (response.data.success === true) {
            this.dialog = true
          } else {
            throw new Error(response.data.message)
          }
        }
      } catch (e) {
        this.formError = e.message
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>
<style>
.login-page .card-main {
  background: #1d213a;
}
</style>